.about {
  padding-top: 35px;
  padding-bottom: 70px;

  &__title {
    text-align: center;
  }

  &__descr {
    margin-top: 25px;
    color: rgb(51 57 79 / 62%);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
  }

  &__benefits {
    display: flex;
    align-items: start;
    justify-content: space-around;
    margin-top: 63px;

    &__item {
      width: 100%;
      max-width: 300px;

      &__circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 84px;
        height: 84px;
        margin: 0 auto;
        background-color: $accent-color;
        border-radius: 100%;
      }

      &__img-clock {
        width: 60px;
        height: 60px;
      }

      &__img-star {
        width: 58px;
        height: 58px;
      }

      &__img-tag {
        width: 42px;
        height: 40px;
      }

      &__title {
        margin-top: 15px;
        color: $text-color;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
      }

      &__descr {
        margin-top: 15px;
        color: rgb(51 57 79 / 62%);
        font-weight: 400;
        font-size: 18px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 992px) {
  .about {
    &__benefits {
      display: block;
      margin: 0;

      &__item {
        margin: 0 auto;
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 576px) {
  .about {
    padding-top: 30px;
    padding-bottom: 30px;

    &__descr {
      font-size: 16px;
    }
  }
}
