.catalog__title {
  text-align: center;
}
.about-company {


  &__wrapper {
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__title {
    font-size: 36px;
  }
  &__block {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .about-company__block_not-full {
    max-width: 1057px;
  }
}


@media (max-width: 1200px) {
  .about-company__block_not-full {
    max-width: none;
  }
}

@media (max-width: 768px) {
  .catalog__title {
    display: none;
  }
  .about-company__wrapper {
    padding: 30px 0;
  }
  .about-company__block {
    gap: 10px;
  }
  .about-company__title {
    font-weight: 700;
    margin-bottom: -15px;
  }
}
