.authorization-modal__overflow {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background: rgba(44, 44, 44, 0.81);

  &_active {
    display: block;
    visibility: visible;
  }
}
.authorization-modal {
  position: relative;
  width: 798px;
  height: 300px;
  margin: 10vh auto 0;
  padding: 30px 0 40px;
  z-index: 99999;
  background: #ffffff;
  border-radius: 5px;
  font-family: sans-serif;
  top: 0;

  &__close-btn {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 21px;
    top: 21px;
    background: url('./../assets/img/icons/close-btn.svg') center center/cover
    no-repeat;
  }
  &_active {
    display: block;

    .registration-modal__overflow {
      display: block;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 655px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 14px;
    }
    &::-webkit-scrollbar-thumb {
      background: #33394f;
      border-radius: 13px;
    }
    &::-webkit-scrollbar-track {
      background: #7d808e;
      border-radius: 13px;
    }
  }

  &__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
  }

  &__form {
    width: 493px;
    margin: 0 auto;
  }
  &__form-wrapper {
    background: #ffffff;
    padding: 0;
  }
  &__form-popup-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 9px  ;
  }
  &__bold-underline {
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
  &__haveAnAccoutn {
    cursor: pointer;
    margin-top: 10px;
    text-decoration-line: underline;
    margin-left: 58px;
  }
  &__input-text {
    width: 100%;
  }
  &__form-item {
    width: 100%;

    &_email {
      width: calc(50% - 5px);
    }
    &_password {
      width: calc(50% - 5px);
    }
    &_authButton {
      margin-top: 10px;
      width: 286px;
    }
    &_offerCheck {
      width: 100%;
    }
  }
}

@media (max-width: 900px) {
  .authorization-modal {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .authorization-modal {
    height: 378px;
    padding: 30px 0;
  }
  .authorization-modal__wrapper {
    width: 90%;
    gap: 10px;
  }
  .authorization-modal__form {
    width: 100%;
  }
  .authorization-modal__form-popup-container {
    justify-content: center;
  }
  .authorization-modal__form-item_email {
    width: 100%;
  }
  .authorization-modal__form-item_password {
    width: 100%;
  }
  .authorization-modal__form-item_authButton {
    width: 90%;
  }
  .authorization-modal__haveAnAccoutn {
    margin: 0;
  }
  .form-item {
    width: 100%;
  }
}