.bottom-menu {
  display: none;
  width: 100%;
  height: 60px;
  background-color: #33394f;

  &__wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: end;
    width: 100%;
    height: 60px;
    padding: 10px;
    background-color: #33394f;
  }

  &__item {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 25%;
    height: 100%;
    cursor: pointer;

    &::after {
      position: absolute;
      right: 0;
      width: 1px;
      height: 26px;
      background: rgb(255 255 255 / 29%);
      content: "";
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    &__img {
      display: block;
      margin: 0 auto;
    }

    &__text {
      color: #fff;
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      text-align: center;
    }

    &__img-burger {
      width: 24px;
      height: 14px;
      margin-top: 5px;
    }

    &__img-heart {
      width: 26px;
      height: 23px;
    }

    &__img-bag {
      width: 27px;
      height: 23px;
    }

    &__img-profile {
      width: 23px;
      height: 23px;
    }
  }
}

@media (width <= 768px) {
  .bottom-menu {
    display: block;
  }
}
