.breadcrumbs {
  width: 100%;
  height: 45px;
  background: #f4f4f4;

  &-container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__text {
    color: rgb(51 57 79 / 62%);
    font-weight: 400;
    font-size: 15px;
  }
}

@media (width <= 576px) {
  .breadcrumbs {
    display: none;
  }
}
