.cart__item {

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }
  &__photos {
    width: 711px;
    height: 474px;
    display: flex;
    position: relative;
  }
  &__swiper {
    width: 237px;
    height: 474px;

    &__prev {
      top: 5px;
      left: 96px;
      position: absolute;
      width: 45px;
      z-index: 10;
      transform: rotate(-90deg);
    }
    &__next {
      bottom: 5px;
      left: 96px;
      position: absolute;
      width: 45px;
      z-index: 10;
      transform: rotate(90deg);
    }
  }
  .swiper {
    margin-left: 0;
    margin-right: 0;
  }
  .swiper-wrapper {

  }
  .swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__big-picture {
    width: 474px;
    height: 100%;
    object-fit: cover;
  }
  &__main-info {
    width: 748px;
    height: 384px;
  }
  &__description {
    width: 711px;
    height: 474px;
  }
  &__title {
    font-size: 36px;
    font-weight: 700;
  }
  &__text {
    margin-top: 25px;
  }
  &__reviews {
    width: 748px;
    height: 384px;
  }

}

.main-info {
  align-self: center;

  &__head {
    margin-bottom: 25px;
  }
  &__name {
    font-size: 24px;
    font-weight: 700;
  }
  &__status {

  }
  &__code {
    font-size: 14px;
    color: $gray-dark;
  }
  &__stash {
    margin-bottom: 30px;
  }
  &__price {
    font-size: 32px;
    font-weight: 700;
  }
  &__buy-button {
    margin-bottom: 20px;
  }
  &__size {
    display: flex;
    gap: 10px;
    align-items: center;

    &-legend {
      margin-right: 10px;
    }
    &-input#wnr1:checked {
      &~ label[for='wnr1']{
        color: white;
        background: #f7d05e;
        outline: none;
      }
    }
    &-input#wnr2:checked {
      &~ label[for='wnr2']{
        color: white;
        background: #f7d05e;
        outline: none;
      }
    }
    &-input#wnr3:checked {
      &~ label[for='wnr3']{
        color: white;
        background: #f7d05e;
        outline: none;
      }
    }
    &-label {
      padding: 6px 7px 6px 8px;
      outline: 1px solid $text-color;
    }
    &-label:checked {
      background: #f7d05e;
    }
  }
  &__line {
    width: 100%;
    height: 1px;
    margin-bottom: 15px;
    background: #D5D7DB;
  }
  &__delivery {

  }
}

.reviews {

}
.reviews__list {
  margin-top: 22px;
}
.reviews__item {

}

.delivery-option {
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: flex;
    align-items: center;
    gap: 9px;
    width: 50%;
  }
  &__image {
    background: $text-color;
    width: 66px;
    height: 66px;
    border-radius: 50%;

    &_car {
      background-image: url("../assets/img/icons/shipment_car.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &_box {
      background-image: url("../assets/img/icons/shipment_box.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__title {
    font-weight: 700;
  }
  &__text {
    color: rgba(51, 57, 79, 0.62);
    font-size: 18px;
  }
  &__option {
    text-decoration-line: underline;
  }
  &__note {
    margin-top: 39px;
    color: $gray-dark;
  }
}
