.catalog {
  padding-top: 77px;

  &__title-wrapper {
    position: relative;
    width: 100%;
  }

  &__title {
    margin: 0 auto;
    padding: 0 80px;
    background-color: #fff;
    width: 315px;

    &__line {
      position: absolute;
      top: 50%;
      // transform: translateY(-50%);
      width: 100%;
      height: 1px;
      background-color: $text-color;
      z-index: -1;
    }

    &__text {
      text-align: center;
    }
  }

  &__wrapper {
    margin-top: 55px;
    width: 100%;
    height: 580px;
    display: grid;
    grid: repeat(2, 1fr) / repeat(4, 1fr);
    grid-gap: 20px;
  }

  &__item {
    position: relative;
    background-color: $text-color-light;
    border-radius: 10px;

    &__menu-mobile {
      display: none;

      &__item {
        display: block;
      }
    }

    &__label {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 77px;
      background-color: $accent-color;
      border-radius: 0px 0px 5px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-weight: 700;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: $hover-color;
      }

      &__text {
        color: #fff;
        font-size: 16px;
        line-height: 40px;
        font-weight: 700;
        display: flex;
        align-items: center;
        pointer-events: none;
      }

      &__img {
        margin-left: 10px;

        &_rotated {
          transform: rotate(180deg);
        }
      }
    }

    &__menu {
      display: none;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 100%);
      width: 300px;
      border-radius: 0px 0px 5px 5px;
      background: #fff;
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.04);
      z-index: 10;

      &_left-side {
        left: 0;
        transform: none;
        transform: translateY(100%);
      }

      &-wrapper {
        position: relative;
      }

      &__sub-menu {
        display: none;
        position: absolute;
        left: 100%;
        bottom: 100%;
        transform: translate(0, 100%);

        &_left-side {
          left: auto;
          right: 100%;
        }
      }

      &__item {
        padding: 5px 20px;
        display: flex;
        align-items: center;
        color: $text-color;
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;

        &:hover {
          background-color: $accent-color;
          font-weight: 700;

          .catalog__item__menu__sub-menu {
            display: block;
          }
        }

        &:last-child {
          border-radius: 0px 0px 5px 5px;
        }
      }
    }
  }

  &__item1 {
    background: url("./../assets/img/kid1.webp") center center/cover no-repeat;
    grid-area: 1 / 1 / span 2 / span 1;
  }

  &__item2 {
    background: url("./../assets/img/kid2.webp") center center/cover no-repeat;
    grid-area: 1 / 2 / span 1 / span 2;
  }

  &__item3 {
    background: url("./../assets/img/kid3.webp") center center/cover no-repeat;
    grid-area: 2 / 2 / span 1 / span 1;
  }

  &__item4 {
    background: url("./../assets/img/kid4.webp") center center/cover no-repeat;
    grid-area: 2 / 3 / span 1 / span 1;
  }

  &__item5 {
    background: url("./../assets/img/kid5.webp") center center/cover no-repeat;
    grid-area: 1 / 4 / span 2 / span 1;
  }

  &__collection-title {
    display: block;
    margin-top: 100px;
    text-align: center;
  }

  &__collection {
    margin-top: 50px;

    &-wrapper {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
    }

    &__item {
      &__img {
        border-radius: 10px;
      }

      &__text {
        margin-top: 14px;
        text-align: center;
        color: $text-color;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }

  .swiper {
    display: none;
  }

  .swiper-button-next {
    width: 45px !important;
    height: 45px !important;
    background: url("./../assets/img/icons/button-next.svg") center center/cover
      no-repeat;
    &::after {
      content: "";
    }
  }

  .swiper-button-prev {
    width: 45px !important;
    height: 45px !important;
    background: url("./../assets/img/icons/button-prev.svg") center center/cover
      no-repeat;
    &::after {
      content: "";
    }
  }

  .swiper-button-disabled {
    opacity: 0.6 !important;
  }
}

@media (max-width: 992px) {
  .catalog {
    &__wrapper {
      height: auto;
      grid: repeat(3, 1fr) / repeat(2, 1fr);
    }

    &__item {
      height: 280px;
      grid-area: auto;
    }

    &__item3 {
      grid-area: 2 / 1 / span 1 / span 2;
    }

    &__collection {
      &__item {
        &__text {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .catalog {
    &__wrapper {
      display: block;
    }

    &__item {
      border-radius: 0;

      &__menu-mobile {
        display: block;
      }

      &__label {
        border-radius: 0;
      }

      &__menu-wrapper {
        width: inherit;
      }

      &__menu-mobile {
        width: inherit;

        &__item {
          width: inherit;
          padding: 5px 20px;
          background-color: #fdedbe;
          color: $text-color;
          font-size: 18px;
          font-weight: 400;
          cursor: pointer;

          &:hover {
            background-color: $accent-color;
            font-weight: 700;
          }
        }
      }

      &__menu {
        width: 100%;
        &__item {
          display: none;
        }
      }
    }

    &__item5 {
      background: url("./../assets/img/kid5_v2.webp") center center/cover
        no-repeat;
    }

    &__collection {
      &-wrapper {
        grid-template-columns: repeat(2, 1fr);
      }

      &__item {
        &__text {
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .catalog {
    padding-top: 30px;
    &__collection__item {
      margin: 0 auto;
      width: calc(100% - 88px);
    }

    &__collection-title {
      margin-top: 30px;
    }

    &__collection {
      display: none;
    }

    .swiper {
      margin-top: 20px;
      display: block;
    }

    &__title {
      &__line {
        display: none;
      }
    }

    &__wrapper {
      margin-top: 20px;
    }
  }
}
