.catalog-menu {
  position: absolute;
  top: 66px;
  left: 0;
  z-index: 100;
  display: none;
  width: 100%;
  background-color: $dark-color;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  &__chapter {
    &__title {
      color: #fff;
      font-weight: 700;
      font-size: 16px;
      text-transform: uppercase;

      &__icon {
        display: none;
      }
    }

    &__element {
      display: block;
      margin-top: 15px;
      color: rgb(255 255 255 / 63%);
      font-weight: 400;
      font-size: 16px;

      &:hover {
        color: #fff;
      }
    }
  }

  &__mobile-header {
    display: flex;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
    background: #33394f;

    &__title {
      color: #fff;
      font-weight: 700;
      font-size: 22px;
    }
  }
}

@media (width <= 1540px) {
  .catalog-menu {
    top: 91px;

    &__wrapper {
      grid-template-columns: repeat(4, 1fr);
      row-gap: 30px;
    }
  }
}

@media (width <= 992px) {
  .catalog-menu {
    &__wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (width <= 768px) {
  .catalog-menu {
    position: fixed;
    top: 100%;
    display: block;
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: scroll;
    transition: top 0.2s;

    &__mobile-header {
      display: flex;
    }

    &__container {
      width: 100%;
    }

    &__wrapper {
      display: block;
      padding-top: 0;
    }

    &__chapter {
      width: 100%;

      &__elements {
        display: none;

        &_visible {
          display: block;
        }
      }

      &__title {
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        padding: 0 14px;
        font-weight: 400;
        font-size: 22px;
        text-transform: none;
        background: #33394f;

        &_active {
          font-weight: 700;
          background: #515976;
        }

        &__icon {
          display: block;
          margin-left: auto;

          &_active {
            transform: rotate(180deg);
          }
        }
      }

      &__element {
        display: flex;
        align-items: center;
        height: 50px;
        margin-top: 0;
        padding: 0 14px;
        font-size: 18px;
      }
    }
  }
}

@media (width <= 576px) {
  .catalog-menu {
    height: 100%;

    &__container {
      padding: 0;
    }
  }
}
