.catalog {
  padding-top: 77px;
  padding-bottom: 700px;

  &__title-wrapper {
    position: relative;
    width: 100%;
  }

  &__title {
    margin: 0 auto;
    padding: 0 80px;
    background-color: #fff;
    width: 315px;

    &__line {
      position: absolute;
      top: 50%;
      // transform: translateY(-50%);
      width: 100%;
      height: 1px;
      background-color: $text-color;
      z-index: -1;
    }

    &__text {
      font-size: 36px;
      font-weight: 700;
      color: $text-color;
    }
  }

  &__wrapper {
    width: 100%;
    height: 580px;
    display: grid;
    grid: repeat(2, 1fr) / repeat(4, 1fr);
    grid-gap: 20px;
  }

  &__item {
    position: relative;
    background-color: $text-color-light;
    border-radius: 10px;

    &__label {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 77px;
      background-color: $accent-color;
      border-radius: 0px 0px 5px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-weight: 700;
      font-size: 16px;
      cursor: pointer;

      &__text {
        color: #fff;
        font-size: 16px;
        line-height: 40px;
        font-weight: 700;
        display: flex;
        align-items: center;
        pointer-events: none;

        &::after {
          content: "";
          display: block;
          width: 12px;
          height: 11px;
          background: url("./../assets/img/icons/treangle_white.svg") center
            center/cover no-repeat;
          margin-left: 10px;
        }
      }
    }

    &__menu {
      display: none;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 100%);
      width: 365px;
      border-radius: 0px 0px 5px 5px;
      background: #fff;
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.04);
      z-index: 10;

      &-wrapper {
        position: relative;
      }

      &__sub-menu {
        display: none;
        position: absolute;
        left: 100%;
        bottom: 100%;
        transform: translate(0, 100%);
      }

      &__item {
        padding: 0 20px;
        height: 35px;
        display: flex;
        align-items: center;
        color: $text-color;
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;

        &:hover {
          background-color: $accent-color;
          font-weight: 700;

          .catalog__item__menu__sub-menu {
            display: block;
          }
        }

        &:last-child {
          border-radius: 0px 0px 5px 5px;
        }
      }
    }
  }

  &__item1 {
    background: url("./../assets/img/kid1.png") center center/cover no-repeat;
    grid-area: 1 / 1 / span 2 / span 1;
  }

  &__item2 {
    background: url("./../assets/img/kid2.png") center center/cover no-repeat;
    grid-area: 1 / 2 / span 1 / span 2;
  }

  &__item3 {
    background: url("./../assets/img/kid3.png") center center/cover no-repeat;
    grid-area: 2 / 2 / span 1 / span 1;
  }

  &__item4 {
    background: url("./../assets/img/kid4.png") center center/cover no-repeat;
    grid-area: 2 / 3 / span 1 / span 1;
  }

  &__item5 {
    background: url("./../assets/img/kid5.png") center center/cover no-repeat;
    grid-area: 1 / 4 / span 2 / span 1;
  }
}
