.change-password-modal__overflow {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background: rgba(44, 44, 44, 0.81);

  &_active {
    display: block;
  }
}
.change-password-modal {
  position: relative;
  width: 798px;
  height: 494px;
  margin: 10vh auto 0;
  padding: 40px 0;
  z-index: 99999;
  background: #ffffff;
  border-radius: 5px;
  font-family: sans-serif;
  top: 0;

  &__close-btn {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 21px;
    top: 21px;
    background: url('./../assets/img/icons/close-btn.svg') center center/cover
    no-repeat;
  }
  &_active {
    display: block;

    .registration-modal__overflow {
      display: block;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 655px;
    height: 100%;
    margin: 0 auto;
    padding: 0 0 10px;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 14px;
    }
    &::-webkit-scrollbar-thumb {
      background: #33394f;
      border-radius: 13px;
    }
    &::-webkit-scrollbar-track {
      background: #7d808e;
      border-radius: 13px;
    }
  }

  &__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
  }
  &__comment {
    font-size: 16px;
    text-align: center;
  }

  &__form {
    width: 420px;
    margin: 0 auto;
  }
  &__form-wrapper {
    background: #ffffff;
    padding: 0 0 10px;
  }
  &__form-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 9px  ;
  }
  &__input-text {
    width: 100%;
  }
  &__form-item {
    width: 100%;
    &_FIO {
    }
    &_email {

    }
    &_phoneNumber {

    }
    &_registrationButton {
      margin-top: 10px;
      width: 296px;
      padding: 0 30px;
    }
    &_offerCheck {
    }
    &_captcha {
    }
  }

}

@media (max-width: 900px) {
  .change-password-modal {
    width: 700px;
  }
}


@media (max-width: 768px) {
  .change-password-modal {
    width: 90%;
    height: 520px;
  }
  .change-password-modal__wrapper {
    width: 90%;
    gap: 10px;
  }
  .change-password-modal__form {
    width: 100%;
  }
  .change-password-modal__form-item_registrationButton {
    width: 269px;
    margin: 0;
    padding: 0 20px;
  }
}

@media (max-width: 580px) {
}