.shopping-cart__info {
  width: 191px;
}
.shopping-cart__item {
  justify-content: space-between;
}
.shopping-cart__image {
  margin-right: 0;
}
.shopping-cart__selections {
  display: none;
}
.shopping-cart__quantity {
  margin-right: 0;
  gap: 5px;
}
.shopping-cart__price {
  margin-right: 0;
  align-items: normal;
}
.shopping-cart__final {
  font-size: 16px;
}
.shopping-cart__size_small {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.purchase__charachteristic {
  color: #7B7F8D;
}
.purchase__span_bold {
  color: inherit;
  font-weight: 700;
}
.purchase__discount {
  font-size: 12px;
}



@media (max-width: 768px) {
  .shopping-cart__selections {
    display: block;
  }
  .shopping-cart__quantity {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .shopping-cart__quantity .shopping-cart__pretitle {
    display: block;
    text-wrap: nowrap;
  }
  .shopping-cart__size_small {
    display: none;
  }
  .purchase__share {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 576px) {
  .shopping-cart__item {
    justify-content: left;
    grid-template-areas:
        "photo price"
        "photo info"
        "empty quantity";
    padding: 15px 0;
  }
  .shopping-cart__info {
    gap: 5px;
  }
  .shopping-cart__selections {
    margin-top: 0;
    gap: 0;
    justify-content: space-between;
  }
  .shopping-cart__weight {
    font-size: 13px;
  }
  .shopping-cart__quantity {
    position: static;
    grid-area: quantity;
    margin-top: 5px;
  }
  .shopping-cart__count {
    font-weight: 400;
  }
  .shopping-cart__selections {
    display: flex;
  }
  .shopping-cart__image {
    margin-right: 26px;
  }
  .shopping-cart__result-price {
    display: none;
  }
  .shopping-cart__info {
    width: auto;
  }
}
