.make-order-modal__overflow {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background: rgba( 0, 0, 0, 0.05);

  &_active {
    display: block;
  }
}
.make-order-modal {
  position: relative;
  width: 82vw;
  height: 68vh;
  margin: 10vh auto 0;
  padding: 45px 0;
  z-index: 99999;
  background: #ffffff;
  border-radius: 5px;
  font-family: sans-serif;
  top: 0;

  &__close-btn {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 21px;
    top: 21px;
    background: url("./../assets/img/icons/close-btn.svg") center center/cover no-repeat;
  }
  &_active {
    display: block;

    .make-order-modal__overflow {
      display: block;
    }
  }
  &__wrapper {
    width: 1184px;
    height: 100%;
    margin: 0 auto;
    padding: 40px 0 10px;
    overflow: scroll;
  }

  &__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
  }

  &__form {
    margin-top: 35px;
  }
}

.form {
  width: 100%;
  display: flex;
  gap: 25px;
  flex-direction: column;

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px 0 30px 65px;
    gap: 10px;
    width: 100%;
    border-radius: 10px;
    background: #F4F4F4;
  }
  &__popup {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &_close {
      display: none;
    }
  }
  &__button-popup {
    position: absolute;
    width: 30px;
    height: 26px;
    left: 20px;
    transform: rotate(90deg);
    filter: invert(80%);

    &_open {
      transform: rotate(-90deg);
    }
  }
  &__header {
    width: 493px;
    font-size: 24px;
    font-weight: 700;
  }

  &__comment {
    width: 493px;
    font-size: 14px;
    color: #B3B7CB;
    margin-bottom: 5px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    row-gap: 8px;
    flex-wrap: wrap;

    &_radio {
      flex-direction: row;
      align-items: center;
    }

    &__addon {
      margin-left: 34px;

      .form__input-plus-mobile {
        display: none
      }
    }

  }
  input[type=radio] {
    display: block;
  }
  &__input-label {
    position: relative;
    color: #818492;
    font-size: 14px;

    &_small {
      color: #B3B7CB;
      font-size: 14px;
    }
  }
  &__input-radio {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    border: 1px solid #33394F;
    accent-color: $text-color;
  }
  &__input-text {
    width: 493px;
    height: 40px;
    border-radius: 5px;
    padding-left: 5px;
    background: #DEDFE1;

    &:invalid {
      border: 1px solid #F88;
      background: #E1DEDE;
    }
  }
  &__price {
    margin-left: 10px;
    padding: 3px 14px 5px;
    border-radius: 13.5px;
    background: #F7D05E;
    font-size: 14px;
  }
  &__description {
    width: 100%;
    margin-left: 34px;

    &__text {
      width: 784px;
      color: #B3B7CB;
      font-size: 14px;
    }
  }

  &__check-personal {
    width: 21px;
    height: 21px;
    margin-right: 5px;
    accent-color: $text-color;
    border-radius: 2px;
  }
  &__buy-button {
    margin-top: 21px;
    width: 335px;
  }
}

@media (max-width: 1540px) {
  .make-order-modal {
    width: 1180px;
  }
  .make-order-modal__wrapper {
    padding: 0;
    width: 1135px;
  }
}

@media (max-width: 1200px) {
  .make-order-modal {
    width: 95vw;
    height: 90vh;
    margin: 60px auto 0;
    padding: 45px 0;
  }
  .make-order-modal__wrapper {
    width: 95%;
    height: 100%;
  }
  .form {
    height: 80%;
  }
  .form__description__text {
    width: 90%;
  }
  .make-order-modal__title {
    font-size: 24px;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .make-order-modal {
    margin-top: 20px;
    padding: 35px 0 30px;
    height: 90vh;
  }
  .make-order-modal__wrapper {
    height: 100%;
  }
  .make-order-modal__close-btn {
    top: 15px;
    right: 15px;
  }
  .form {
    gap: 20px;
    height: 85%;
  }
  .form__wrapper {
    padding: 0;
    background: transparent;
  }
  .form__header {
    width: 100%;
  }
  .form__comment {
    width: 100%;
  }
  .form__button-popup {
    display: none;
  }
  .form__input-text {
    width: 100%;
  }
  .form__buy-button {
    width: 256px;
    margin: 31px auto 0;
  }
  .form__input-label {
    width: 90%;
  }
  .form__item_radio {
    flex-wrap: nowrap;
  }
  .form__input-radio {
    width: 21px;
    height: 21px;
  }
  .form__price {
    position: absolute;
    background: #BCBCBC;
    top: -25px;
    left: 65%;
  }
  .form__price_accent {
    background: $accent-color;
  }
  .form__item__addon {
    margin-left: 0;
  }
  .form__description {
    margin-left: 31px;
  }
  .form__item__addon {

    .form__input-radio {
      visibility: hidden;
    }
    .form__input-plus-mobile {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 21px;
      height: 21px;
      rotate: 0;
    }
    .form__input-plus-mobile_checked {
      rotate: 45deg;
    }
  }
  .shipment {
    .form__item_radio {
      flex-wrap: wrap;
      margin-top: 30px;
      position: relative;
      width: 100%;
    }
    .form__input-label {
      width: 60%;
    }
  }
}

@media (max-width: 576px) {
}

@media (max-width: 500px) {

}
@media (max-width: 400px) {
}
