.recent {
  padding-top: 35px;
  padding-bottom: 60px;
  background-color: #f4f4f4;

  &__cards {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1540px) {
  .recent {
    &__cards {
      grid-template-columns: repeat(5, 1fr);
      row-gap: 15px;

      .product-card__button {
        padding-left: 24px;
        padding-right: 24px;
      }
    }

    &__card {
      &:last-child {
        display: none;
      }
    }
  }
}

@media (max-width: 1200px) {
  .recent {
    &__cards {
      grid-template-columns: repeat(5, 1fr);
      row-gap: 15px;
    }
  }
}

@media (max-width: 992px) {
  .recent {
    &__cards {
      grid-template-columns: repeat(4, 1fr);
    }

    &__card {
      &:nth-child(-n + 1) {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .recent {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
    }

    &__card {
      margin: 0 auto;
    }
  }
}

@media (max-width: 576px) {
  .recent {
    padding-top: 30px;
    // &__cards {
    //   margin-top: 15px;
    // }
    &__title {
      text-align: center;
    }
  }
}
