.references-item {
  margin-top: 50px;
  margin-bottom: 70px;

  &__wrapper {
    display: flex;
    gap: 20px;
    height: 478px;
  }

  &__image {
    width: 622px;
    object-fit: cover;
    border-radius: 5px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
  }
}

.swiper-goods-button-prev {
  transform: rotateY(180deg);
}

.goods {
  position: relative;
  margin-right: 0;
  margin-left: 0;

  &__title {
    font-weight: 700;
    font-size: 36px;
  }

  &__list {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
    width: 842px;
    height: 299px;
    margin-top: 30px;
  }

  &__item {
    width: 153px;
    min-width: 153px;
    border-radius: 5px;

    .product-card {
      width: 100%;

      &__label {
        display: none;
      }

      &__img {
        height: 160px;
      }

      &__title {
        height: 51px;
        margin-top: 5px;
        font-size: 13px;
      }

      &__price {
        margin-top: 10px;
      }

      &__button {
        height: 37px;
        margin-top: 16px;
        padding: 0;
      }
    }
  }

  &__next_button {
    position: absolute;
    top: calc(50%);
    right: 0;
    z-index: 10;
    width: 45px;
    height: 45px;
    border-radius: 50%;

    .disable {
      display: none;
    }
  }

  &__prev_button {
    position: absolute;
    top: calc(50%);
    z-index: 10;
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
}

.goods__item:last-child {
  margin-right: 90px;
}

.goods__item:nth-child(5) {
  margin-right: 0;
}

@media (width <= 1540px) {
  .references-item__wrapper {
    justify-content: space-around;
    height: 430px;
  }

  .references-item__image {
    width: 430px;
  }

  .goods__list {
    width: 670px;
  }
}

@media (width <= 1200px) {
  .references-item__wrapper {
    flex-direction: column;
    align-items: center;
    width: 670px;
    height: auto;
    margin: 0 auto;
  }

  .goods__next_button {
    display: none;
  }

  .goods__prev_button {
    display: none;
  }

  .references-item__image {
    width: 100%;
    height: 410px;
  }
}

@media (width <= 992px) {
}

@media (width <= 768px) {
  .references-item__wrapper {
    width: 100%;
  }

  .references-item__content {
    width: 100%;
  }

  .goods {
  }

  .goods__list {
    gap: 8px;
    margin-top: 15px;
  }
}

@media (width <= 576px) {
  .references-item__content {
    height: auto;
  }

  .references-item__image {
    height: 264px;
  }

  .goods__list {
    display: grid;
    grid-template-columns: 153px 153px 153px;
    gap: 15px;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }
}

@media (width <= 500px) {
  .goods__list {
    grid-template-columns: 153px 153px;
  }

  .goods__list {
    justify-content: space-around;
  }
}

@media (width <= 400px) {
  .goods__title {
    margin-top: 30px;
  }

  .goods__list {
    justify-content: space-between;
  }
}
