.references {
  padding-top: 50px;
  padding-bottom: 70px;

  &__wrapper {
    display: flex;
    gap: 20px;
    width: 100%;
  }

  &__list_left-part {
    display: grid;
    grid-template:
      "item1 item2" 180px "item3 item2" 239px "item4Long item4Long" 299px "item5Square item6" 439px "item7 item8" 180px "item9 item8" 239px "item10Long item10Long" 299px / 493px 365px;
    gap: 20px;
  }

  &__list_right-part {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  &__item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    &_left-part_1 {
      grid-area: item1;
    }

    &_left-part_2 {
      grid-area: item2;
    }

    &_left-part_3 {
      grid-area: item3;
    }

    &_left-part_4 {
      grid-area: item4Long;
    }

    &_left-part_5 {
      grid-area: item5Square;
    }

    &_left-part_6 {
      grid-area: item6;
    }

    &_left-part_7 {
      grid-area: item7;
    }

    &_left-part_8 {
      grid-area: item8;
    }

    &_left-part_9 {
      grid-area: item9;
    }

    &_left-part_10 {
      grid-area: item10Long;
    }

    &_right-part_11 {
      height: 299px;
    }

    &_right-part_12 {
      height: 299px;
    }

    &_right-part_13 {
      height: 299px;
      margin-top: 10px;
    }

    &_right-part_14 {
      height: 439px;
    }

    &_right-part_15 {
      height: 299px;
    }

    &_right-part_16 {
      height: 250px;
    }

    &__number {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 140px;
      height: 38px;
      color: white;
      font-weight: 700;
      text-transform: uppercase;
      background: $accent-color;
    }

    &__image {
      position: absolute;
      top: 0;
      object-fit: cover;

      &_full {
        width: 100%;
        height: 100%;
      }

      &_animation {
        top: -25%;
      }

      &_animation:hover {
        animation: 6s infinite alternate slidein;
      }
    }

    @keyframes slidein {
      0% {
        top: -25%;
      }

      50% {
        top: -50%;
      }

      100% {
        top: 0;
      }
    }
  }
}

@media (width <= 1540px) {
  .references__wrapper {
    flex-direction: column;
    align-items: center;
    width: 878px;
    margin: 0 auto;
  }
}

@media (width <= 1200px) {
}

@media (width <= 992px) {
  .references {
    padding-top: 20px;
    padding-bottom: 25px;
  }

  .references__wrapper {
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .references__list_left-part {
    gap: 15px;
  }

  .references__list_right-part {
    gap: 15px;
  }

  .references__item {
    height: 180px;
  }

  .references__item_right-part_13 {
    margin-top: 0;
  }

  .references__list_left-part {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .references__item__image_full {
    width: auto;
    height: auto;
  }
}

@media (width <= 768px) {
}

@media (width <= 576px) {
}
