.return-conditions {


  &__wrapper {
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__title {
    font-size: 36px;
  }
  &__block {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
.return-conditions__wrapper {

}
.return-conditions__title {

}
.return-conditions__block {

}