.catalog__title {
  text-align: center;
}

.return-conditions {


  &__wrapper {
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__title {
    font-size: 36px;
  }
  &__block {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.return-conditions_max-width-1334 {
  max-width: 1334px;
}
.return-conditions_max-width-1283 {
  max-width: 1283px;
}
.return-conditions_max-width-941 {
  max-width: 941px;
}

@media (max-width: 768px) {
  .catalog__title {
    display: none;
  }
  .return-conditions__wrapper {
    padding: 30px 0;
  }
  .return-conditions__block {
    gap: 10px;
  }
  .return-conditions__title {
    font-weight: 700;
    margin-bottom: -15px;
  }
}
