.subscribe {
  padding: 70px 0;

  &__title {
    text-align: center;
  }

  &__input-wrapper {
    margin: 0 auto;
    margin-top: 30px;
    width: 600px;
  }

  &__input-area {
    position: relative;
  }

  &__input {
    width: 410px;
    padding-right: 40px;
  }

  &__button {
    position: absolute;
    right: 0;
    bottom: -2px;
    // transform: translateY(50%);
  }
}
