mixin productCardLabel(label)
  case label
    when "В наличии"
      .product-card-label.product-card-label_aviable В наличии
    when "Нет в наличии"
      .product-card-label.product-card-label_not-aviable Нет в наличии 
    when "На складе"
      .product-card-label.product-card-label_in-stock На складе
