/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-SemiBold.eot");
  src: url("../assets/fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Montserrat-SemiBold.woff") format("woff"), url("../assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.eot");
  src: url("../assets/fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Montserrat-Regular.woff") format("woff"), url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.button {
  padding: 0 42px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f7d05e;
  color: #fff;
  border-radius: 9999px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.input {
  padding: 11px;
  margin-top: 10px;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  background: #f4f4f4;
  color: #33394f;
  font-size: 14px;
  font-weight: 400;
}
.input::-webkit-input-placeholder {
  color: #818492;
}
.input::-moz-placeholder {
  color: #818492;
}
.input:-ms-input-placeholder {
  color: #818492;
}
.input::-ms-input-placeholder {
  color: #818492;
}
.input::placeholder {
  color: #818492;
}

.input-title {
  color: #818492;
  font-size: 14px;
  font-weight: 400;
}

.textarea {
  padding: 11px;
  margin-top: 10px;
  height: 400px;
  width: 100%;
  border-radius: 5px;
  background: #f4f4f4;
  color: #33394f;
  font-size: 14px;
  font-weight: 400;
}
.textarea::-webkit-input-placeholder {
  color: #818492;
}
.textarea::-moz-placeholder {
  color: #818492;
}
.textarea:-ms-input-placeholder {
  color: #818492;
}
.textarea::-ms-input-placeholder {
  color: #818492;
}
.textarea::placeholder {
  color: #818492;
}

.title {
  color: #33394f;
  font-size: 36px;
  font-weight: 700;
}

.layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(44, 44, 44, 0.81);
}

* {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1520px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1540px) {
  .container {
    width: 1140px;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 20px;
    width: 100%;
  }
}
.header {
  width: 100%;
  height: 66px;
  background-color: #f4f4f4;
}
.header__wrapper-top {
  width: 100%;
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  font-size: 14px;
  font-weight: 400;
}
.header__elements:last-child {
  -webkit-column-gap: 55px;
     -moz-column-gap: 55px;
          column-gap: 55px;
}
.header__element {
  color: rgba(51, 57, 79, 0.42);
}
.header__element_active {
  font-weight: 700;
  color: #33394f;
}
.header__element-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__element-catalog::after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  background: url("./../assets/img/icons/treangle.svg") center center/cover no-repeat;
  background-repeat: no-repeat;
  margin-left: 5px;
}
.header__element-catalog_active {
  color: #33394f;
  font-weight: 700;
}
.header__element-catalog_active::after {
  background: url("./../assets/img/icons/treangle_dark.svg") center center/cover no-repeat;
}
.header__element-geo {
  font-weight: 400;
  color: #33394f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__element-geo::before {
  content: "";
  display: block;
  width: 16px;
  height: 21px;
  background-image: url("./../assets/img/icons/geo.svg");
  margin-right: 15px;
}
.header__element-phone {
  color: #33394f;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__element-phone::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("./../assets/img/icons/phone.svg");
  margin-right: 15px;
}

.header__wrapper-bottom {
  padding-top: 18px;
  padding-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 206px;
  height: 62px;
}
.header__search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
  background-color: #f4f4f4;
  max-width: 800px;
  width: 100%;
  height: 45px;
  border-radius: 9999px;
}
.header__search_focused {
  background-color: inherit;
}
.header__search__area {
  position: relative;
  height: 100%;
  border: 1px solid #f4f4f4;
  border-radius: 9999px 0px 0px 9999px;
  background-color: inherit;
  width: 100%;
  max-width: 650px;
}
.header__search__area_focused {
  border-radius: 22.5px 0px 0px 0px;
}
.header__search__area__icon {
  position: absolute;
  left: 17px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 25px;
}
.header__search__area__input {
  display: block;
  margin-left: 60px;
  height: 100%;
  width: calc(100% - 60px);
  font-weight: 400;
  font-size: 16px;
  color: #33394f;
  background-color: inherit;
}
.header__search__area__input::-webkit-input-placeholder {
  color: rgba(51, 57, 79, 0.42);
}
.header__search__area__input::-moz-placeholder {
  color: rgba(51, 57, 79, 0.42);
}
.header__search__area__input:-ms-input-placeholder {
  color: rgba(51, 57, 79, 0.42);
}
.header__search__area__input::-ms-input-placeholder {
  color: rgba(51, 57, 79, 0.42);
}
.header__search__area__input::placeholder {
  color: rgba(51, 57, 79, 0.42);
}
.header__search__area__results {
  position: absolute;
  width: 100%;
  background-color: #fff;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}
.header__search__area__results__item {
  display: block;
  padding: 5px 17px;
  color: #33394f;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.header__search__area__results__item:hover {
  background-color: #f4f4f4;
}
.header__search__button {
  width: 154px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background-color: #f7d05e;
  border-radius: 0px 9999px 9999px 0px;
  cursor: pointer;
}
.header__items-bottom {
  margin-left: auto;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 320px;
}
.header__item-bottom {
  cursor: pointer;
}
.header__item-bottom__img {
  height: 30px;
  display: block;
  margin: 0 auto;
}
.header__item-bottom__text {
  margin-top: 5px;
  font-size: 10px;
  text-align: center;
}

.advertising {
  padding-top: 30px;
}
.advertising__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.advertising__item {
  border-radius: 10px;
  height: 358px;
}
.advertising__item-big {
  background: url("./../assets/img/advertising_kid.png") center center/cover no-repeat;
  width: 1181px;
}
.advertising__item-big__substrate {
  padding: 85px 44px 60px 44px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: -webkit-gradient(linear, right top, left top, color-stop(27.76%, rgba(255, 255, 255, 0)), color-stop(83.78%, rgba(245, 245, 245, 0.77)));
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 27.76%, rgba(245, 245, 245, 0.77) 83.78%);
}
.advertising__item-big__text__title {
  color: #33394f;
  font-size: 36px;
  font-weight: 700;
  width: 439px;
}
.advertising__item-big__text__descr {
  margin-top: 25px;
  width: 459px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(51, 57, 79, 0.42);
}
.advertising__item-small {
  width: 319px;
  background: url("./../assets/img/advertising_clothers.png") center center/cover no-repeat;
}
.advertising__item-small__substrate {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.4)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
}
.advertising__item-small__text {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.advertising__item-small__text__title {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 171px;
  height: 39px;
  border-radius: 114px;
  background: #fff;
  font-size: 14px;
  font-weight: 700;
  color: #33394f;
}
.advertising__item-small__text__price {
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 76px;
  height: 27px;
  border-radius: 114px;
  background: #fff;
}

.catalog-menu {
  background-color: #2d3242;
  width: 100%;
  position: fixed;
  top: 66px;
  left: 0;
  z-index: 100;
}
.catalog-menu__wrapper {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
}
.catalog-menu__chapter__title {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}
.catalog-menu__chapter__element {
  display: block;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.63);
}

.catalog {
  padding-top: 77px;
}
.catalog__title-wrapper {
  position: relative;
  width: 100%;
}
.catalog__title {
  margin: 0 auto;
  padding: 0 80px;
  background-color: #fff;
  width: 315px;
}
.catalog__title__line {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: #33394f;
  z-index: -1;
}
.catalog__title__text {
  font-size: 36px;
  font-weight: 700;
  color: #33394f;
}
.catalog__wrapper {
  margin-top: 55px;
  width: 100%;
  height: 580px;
  display: -ms-grid;
  display: grid;
  grid: repeat(2, 1fr)/repeat(4, 1fr);
  grid-gap: 20px;
}
.catalog__item {
  position: relative;
  background-color: rgba(51, 57, 79, 0.42);
  border-radius: 10px;
}
.catalog__item__label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 77px;
  background-color: #f7d05e;
  border-radius: 0px 0px 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.catalog__item__label__text {
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}
.catalog__item__label__text::after {
  content: "";
  display: block;
  width: 12px;
  height: 11px;
  background: url("./../assets/img/icons/treangle_white.svg") center center/cover no-repeat;
  margin-left: 10px;
}
.catalog__item__menu {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  width: 365px;
  border-radius: 0px 0px 5px 5px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.04);
  z-index: 10;
}
.catalog__item__menu-wrapper {
  position: relative;
}
.catalog__item__menu__sub-menu {
  display: none;
  position: absolute;
  left: 100%;
  bottom: 100%;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}
.catalog__item__menu__item {
  padding: 0 20px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #33394f;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}
.catalog__item__menu__item:hover {
  background-color: #f7d05e;
  font-weight: 700;
}
.catalog__item__menu__item:hover .catalog__item__menu__sub-menu {
  display: block;
}
.catalog__item__menu__item:last-child {
  border-radius: 0px 0px 5px 5px;
}
.catalog__item1 {
  background: url("./../assets/img/kid1.png") center center/cover no-repeat;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/span 2/span 1;
}
.catalog__item2 {
  background: url("./../assets/img/kid2.png") center center/cover no-repeat;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 1/2/span 1/span 2;
}
.catalog__item3 {
  background: url("./../assets/img/kid3.png") center center/cover no-repeat;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/span 1/span 1;
}
.catalog__item4 {
  background: url("./../assets/img/kid4.png") center center/cover no-repeat;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2/3/span 1/span 1;
}
.catalog__item5 {
  background: url("./../assets/img/kid5.png") center center/cover no-repeat;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1/4/span 2/span 1;
}
.catalog__collection {
  margin-top: 150px;
}
.catalog__collection-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(5, 1fr);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.catalog__collection__item__img {
  border-radius: 10px;
}
.catalog__collection__item__text {
  margin-top: 14px;
  text-align: center;
  color: #33394f;
  font-size: 20px;
  font-weight: 700;
}

.address {
  margin-top: 70px;
}
.address__title {
  color: #33394f;
  font-size: 36px;
  font-weight: 700;
}
.address__map {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 628px;
  background: url("./../assets/img/map.png") center center/cover no-repeat;
}
.address__map__info-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.address__map__info-wrapper__container {
  height: 100%;
}
.address__map__info {
  width: 513px;
  height: 100%;
  background-color: #fff;
  padding: 10px 60px;
  padding-bottom: 25px;
}
.address__map__info__title {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 400;
  color: rgba(51, 57, 79, 0.26);
}
.address__map__info__descr {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(51, 57, 79, 0.62);
}
.address__map__info__text {
  position: relative;
  margin-top: 28px;
  margin-left: 14px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(51, 57, 79, 0.62);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.address__map__info__text::before {
  content: "";
  position: absolute;
  left: -14px;
  display: block;
  width: 3px;
  height: 91px;
  background: #d9d9d9;
}
.address__map__info__button {
  margin-top: 30px;
}

.question-modal {
  position: relative;
  width: 798px;
  background-color: #fff;
  border-radius: 10px;
  height: 615px;
  max-height: 90vh;
  overflow-y: scroll;
}
.question-modal::-webkit-scrollbar {
  width: 0;
}
.question-modal__container {
  margin: 0 auto;
  width: 420px;
  padding: 40px 0;
}
.question-modal__close-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 21px;
  top: 21px;
  background: url("./../assets/img/icons/close-btn.svg") center center/cover no-repeat;
}
.question-modal__title {
  color: #33394f;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
.question-modal__form {
  margin-top: 30px;
}
.question-modal .input-title {
  margin-top: 10px;
}
.question-modal .input-title:first-child {
  margin-top: 0;
}
.question-modal__textarea {
  height: 130px;
  resize: none;
  outline: none;
}
.question-modal__button {
  margin: 0 auto;
  margin-top: 15px;
}

.newsletter {
  padding-top: 70px;
  padding-bottom: 50px;
  background-color: #f4f4f4;
}
.newsletter__title {
  text-align: center;
}
.newsletter__descr {
  margin: 0 auto;
  margin-top: 15px;
  width: 620px;
  color: rgba(51, 57, 79, 0.62);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
.newsletter__button {
  margin: 0 auto;
  margin-top: 20px;
  line-height: 16px;
}
.newsletter__button__arrow {
  margin-left: 15px;
  width: 14px;
  height: 24px;
}

.about {
  padding-top: 35px;
  padding-bottom: 70px;
}
.about__title {
  text-align: center;
}
.about__descr {
  margin-top: 25px;
  color: rgba(51, 57, 79, 0.62);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
.about__benefits {
  margin-top: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.about__benefits__item {
  width: 100%;
  max-width: 300px;
}
.about__benefits__item__circle {
  margin: 0 auto;
  width: 84px;
  height: 84px;
  background-color: #f7d05e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
}
.about__benefits__item__img-clock {
  width: 60px;
  height: 60px;
}
.about__benefits__item__img-star {
  width: 58px;
  height: 58px;
}
.about__benefits__item__img-tag {
  width: 42px;
  height: 40px;
}
.about__benefits__item__title {
  margin-top: 15px;
  color: #33394f;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.about__benefits__item__descr {
  margin-top: 15px;
  color: rgba(51, 57, 79, 0.62);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}