/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-SemiBold.eot");
  src: url("../assets/fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Montserrat-SemiBold.woff") format("woff"), url("../assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.eot");
  src: url("../assets/fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Montserrat-Regular.woff") format("woff"), url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1520px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 66px;
  background-color: #f4f4f4;
}
.header__wrapper-top {
  width: 100%;
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  font-size: 14px;
  font-weight: 400;
}
.header__elements:last-child {
  -webkit-column-gap: 55px;
     -moz-column-gap: 55px;
          column-gap: 55px;
}
.header__element {
  color: rgba(51, 57, 79, 0.42);
}
.header__element_active {
  font-weight: 700;
  color: #33394f;
}
.header__element-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__element-catalog::after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  background: url("./../assets/img/icons/treangle.svg");
  background-repeat: no-repeat;
  margin-left: 5px;
}
.header__element-geo {
  font-weight: 400;
  color: #33394f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__element-geo::before {
  content: "";
  display: block;
  width: 16px;
  height: 21px;
  background-image: url("./../assets/img/icons/geo.svg");
  margin-right: 15px;
}
.header__element-phone {
  color: #33394f;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__element-phone::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("./../assets/img/icons/phone.svg");
  margin-right: 15px;
}
.header__wrapper-bottom {
  padding-top: 18px;
  padding-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 206px;
  height: 62px;
}
.header__search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
  background-color: #f4f4f4;
  max-width: 800px;
  width: 100%;
  height: 45px;
  border-radius: 9999px;
}
.header__search__area {
  height: 100%;
  border: 1px solid #f4f4f4;
  border-radius: 9999px 0px 0px 9999px;
  background-color: inherit;
  width: 100%;
  max-width: 650px;
}
.header__search__area__icon {
  position: absolute;
  left: 17px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 25px;
}
.header__search__area__input {
  display: block;
  margin-left: 60px;
  height: 100%;
  width: calc(100% - 60px);
  font-weight: 400;
  font-size: 16px;
  color: #33394f;
  background-color: inherit;
}
.header__search__area__input::-webkit-input-placeholder {
  color: rgba(51, 57, 79, 0.42);
}
.header__search__area__input::-moz-placeholder {
  color: rgba(51, 57, 79, 0.42);
}
.header__search__area__input:-ms-input-placeholder {
  color: rgba(51, 57, 79, 0.42);
}
.header__search__area__input::-ms-input-placeholder {
  color: rgba(51, 57, 79, 0.42);
}
.header__search__area__input::placeholder {
  color: rgba(51, 57, 79, 0.42);
}
.header__search__button {
  width: 154px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background-color: #f7d05e;
  border-radius: 0px 9999px 9999px 0px;
  cursor: pointer;
}
.header__items-bottom {
  margin-left: auto;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 320px;
}
.header__item-bottom {
  cursor: pointer;
}
.header__item-bottom__img {
  height: 30px;
  display: block;
  margin: 0 auto;
}
.header__item-bottom__text {
  margin-top: 5px;
  font-size: 10px;
  text-align: center;
}