section.about 
  .container 
    h2.about__title.title О компании
    .about__descr LalaStore - магазин качественной и модной одежды и товаров для новорожденных и малышей до года. <br> У нас вы подберете стильный комплект на выписку и базовый гардероб на первый год вашего ребенка.
    .about__descr Качество товаров на высоте, так как мы работаем только с проверенными поставщиками. Все изделия имеют сертификаты качества.
    .about__descr Нам доверяют, и к нам возвращаются!

    .about__benefits
      .about__benefits__item 
        .about__benefits__item__circle 
          img.about__benefits__item__img.about__benefits__item__img-clock(src="./assets/img/icons/clock.svg", alt="clock")
        .about__benefits__item__title Быстрая доставка
        .about__benefits__item__descr Бережно доставляем товары <br>по России за 24 часа
      
      .about__benefits__item 
        .about__benefits__item__circle 
          img.about__benefits__item__img.about__benefits__item__img-star(src="./assets/img/icons/star.svg", alt="star")
        .about__benefits__item__title Гарантия качества
        .about__benefits__item__descr Соответствуем требованиям <br>и стандартам качества
      
      .about__benefits__item 
        .about__benefits__item__circle 
          img.about__benefits__item__img.about__benefits__item__img-tag(src="./assets/img/icons/tag.svg", alt="tag")
        .about__benefits__item__title Доступные цены
        .about__benefits__item__descr Работаем напрямую с ведущими производителями