.about-company
    .container
        .about-company__wrapper
            .about-company__title.text-info__bold О компании
            .about-company__block
                .text-info__text Наш магазин Lalastore.ru существует с 2019 года и всегда рад приветствовать Мам и Пап, своей теплой атмосферой. В нашем магазине, Вы всегда найдете качественную продукцию для Ваших малышей, на любое время года. У нас работают настоящие профессионалы, любящие и знающие свое дело, которые всегда помогут Вам. Покупка товара проста не только на первый взгляд, но так же легка в нашем магазине. Мы ценим каждого покупателя и знаем как осуществить Ваши покупки по самым приятным ценам.
            .about-company__block
                .text-info__table
                    .text-info__item
                        .text-info__name
                            .text-info__text Название компании:
                            .text-info__dots
                        .text-info__stat ООО "СБВ ГРУПП"

                    .text-info__item
                        .text-info__name
                            .text-info__text ИНН / КПП:
                            .text-info__dots
                        .text-info__stat 7713795458 / 771701001

                    .text-info__item
                        .text-info__name
                            .text-info__text ОГРН:
                            .text-info__dots
                        .text-info__stat 5147746119220

                    .text-info__item
                        .text-info__name
                            .text-info__text Фактический адрес:
                            .text-info__dots
                        .text-info__stat г. Москва, Электролитный проезд, д. 3Б, строение 6

                    .text-info__item
                        .text-info__name
                            .text-info__text Телефон:
                            .text-info__dots
                        .text-info__stat +7 916 361-30-00

                    .text-info__item
                        .text-info__name
                            .text-info__text e-mail:
                            .text-info__dots
                        .text-info__stat lalastore.ru@yandex.ru
            .about-company__block.about-company__block_not-full
                .text-info__text.text-info__bold Lalastore.ru — интернет-магазин товаров для самых маленьких. В нашем магазине вы сможете приобрести различные товары для новорожденных, такие как:
                .about-company__list
                    ol.text-info__ordered-list.text-info__gray
                        li Нательные комбинезоны
                        li Песочница
                        li Боди
                        li Комбинезоны из футера
                        li Комбинезоны вязаные
                        li Демисезонные комбинезоны
                        li Комбинезоны-трансформеры
                        li Головные уборы
                        li Носочки
                        li Нагрудники
            .about-company__block
                .text-info__head2.text-info__bold Клиентский сервис на высоте!
                .text-info__text Наши менеджеры — помощники и консультанты, Всегда помогут подобрать необходимые товары для Ваших деток. А также подскажут, как оформить заказ и совершить оплату. Менеджеры отвечают на вопросы в онлайн-чате и через формы обратной связи.
                .text-info__text.text-info__bold Учитываем историю покупок и общения, чтобы персонализировать ответы и предложения. Нам важно решить вопрос быстро и качественно. Формирование долгосрочных отношений — одна из главных целей. Понимаем, что проще покупать товары в магазине, где предпочтения уже знают и помогают с выбором.


            .about-company__block
                .text-info__head2.text-info__bold Почему стоит выбрать магазин для детей Lalastore.ru?
                .text-info__text Для этого предлагаем комплексный подход — наша команда выполнит все задачи!
                ul.text-info__unordered-list.text-info__gray
                    li Индивидуальный подход к каждому покупателю.
                    li Менеджер, который знает детали заказов.
                    li Комплексный подход к товарам и услугам.
                    li Доставка товаров до квартиры в течение 24 часов.
                    li Широкий ассортимент вещей. Мы работаем с большим количеством поставщиков для удовлетворения самых разнообразных потребностей клиента.
                    li Мы работаем со всеми регионами России, организовывая оплату и доставку заказов до любого населенного пункта России удобным Вам способом.
                    li Качественная продукция от крупнейших поставщиков.
            .about-company__block
                .text-info__text Сделаем жизнь ярче, уютнее и комфортнее. В интернет-магазине Lalastore.ru найдется товар, который нужен именно Вам и Вашим малышам.