.about-company-tabs
    .container
        nav.about-company-tabs__nav
            ul.about-company-tabs__wrapper
                li.about-company-tabs__tab
                    .about-company-tabs__text.about-company-tabs__text_first
                        .about-company-tabs__p О компании
                            img.about-company-tabs__triangle(src='./assets/img/icons/treangle_dark.svg')
                    ul.about-company-tabs__sub-list
                        li.about-company-tabs__sub-item
                            .about-company-tabs__sub-text Оплата и вовзрат
                        li.about-company-tabs__sub-item
                            .about-company-tabs__sub-text Условия доставки
                        li.about-company-tabs__sub-item
                            .about-company-tabs__sub-text Как купить
                li.about-company-tabs__tab
                    .about-company-tabs__text
                        .about-company-tabs__p Новости
                li.about-company-tabs__tab
                    .about-company-tabs__text
                        .about-company-tabs__p Отзывы
                li.about-company-tabs__tab
                    .about-company-tabs__text
                        .about-company-tabs__p Контакты
                li.about-company-tabs__tab
                    .about-company-tabs__text
                        .about-company-tabs__p Лицензии