section.address 
  .container 
    h2.address__title Адрес шоурума
  
  .address__map
    .address__map__iframe
      <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A9a867da710c86f80c3c757c318b0164cc92292804e46ec4b75895376a3f2466f&amp;source=constructor" width="100%" height="628" frameborder="0"></iframe>

    .address__map__info-wrapper
      .container.address__map__info-wrapper__container
        .address__map__info
          .address__map__info__title Адрес шоурума:
          .address__map__info__descr Адрес шоурума:, г. Москва, Электролитный проезд 3Б стр 6

          .address__map__info__title Метро:
          .address__map__info__descr Нагорная

          .address__map__info__title Режим работы:
          .address__map__info__descr Вторник-суббота : 10:00-19:00

          .address__map__info__title Выходной:
          .address__map__info__descr Воскресенье, понедельник : выходной

          .address__map__info__title Телефон:
          .address__map__info__descr +7 916 361-30-00

          .address__map__info__title Почта:
          .address__map__info__descr info@lalastore.ru

          .address__map__info__text Пожалуйста, свяжитесь с нами перед посещением, чтобы мы могли согласовать время вашего визита и наличие товаров.
          button.address__map__info__button.button Написать нам