section.address 
  .container 
    .address__title Адрес шоурума
  
  .address__map
    img(src="./assets/img/map.png", alt="map").address__map__bg

    .address__map__info-wrapper
      .container.address__map__info-wrapper__container
        .address__map__info
          .address__map__info__title Адрес шоурума:
          .address__map__info__descr Адрес шоурума:, г. Москва, Электролитный проезд 3Б стр 6

          .address__map__info__title Метро:
          .address__map__info__descr Нагорная

          .address__map__info__title Режим работы:
          .address__map__info__descr Вторник-суббота : 10:00-19:00

          .address__map__info__title Выходной:
          .address__map__info__descr Воскресенье, понедельник : выходной

          .address__map__info__title Телефон:
          .address__map__info__descr +7 916 361-30-00

          .address__map__info__title Почта:
          .address__map__info__descr info@lalastore.ru

          .address__map__info__text Пожалуйста, свяжитесь с нами перед посещением, чтобы мы могли согласовать время вашего визита и наличие товаров.
          button.address__map__info__button.button Написать нам