section.advertising
  .container.advertising-container
    .advertising__wrapper

      .advertising__item.advertising__item-big
        .advertising__item-big__substrate
          .advertising__item-big__text
            .advertising__item-big__text__title Большая зимняя распродажа от LeoKid
            .advertising__item-big__text__descr Конверт Leokid Classic подходит для использования в любых колясках, автокреслах и санках. Для прогулок осенью, зимой, весной и даже прохладным летом.
      
      .advertising__item.advertising__item-small
        .advertising__item-small__substrate
          .advertising__item-small__text
            .advertising__item-small__text__title Подборка №106
            .advertising__item-small__text__price 1 221р