.bottom-menu 
  .bottom-menu__wrapper
    .bottom-menu__item#catalog-btn-mobile
      img.bottom-menu__item__img.bottom-menu__item__img-burger(src="./assets/img/icons/burger-menu.svg", alt="burger-menu")
      .bottom-menu__item__text Каталог
    .bottom-menu__item 
      img.bottom-menu__item__img.bottom-menu__item__img-heart(src="./assets/img/icons/heart_white.svg", alt="burger-menu")
      .bottom-menu__item__text Избранное
    a(href="./shopping-cart-page.html").bottom-menu__item 
      img.bottom-menu__item__img.bottom-menu__item__img-bag(src="./assets/img/icons/bag_white.svg", alt="burger-menu")
      .bottom-menu__item__text Корзина
    .bottom-menu__item 
      img.bottom-menu__item__img.bottom-menu__item__img-profile(src="./assets/img/icons/profile_white.svg", alt="burger-menu")
      .bottom-menu__item__text Войти