.cart__item
    .container
        .cart__item__wrapper
            .cart__item__photos
                .cart__item__swiper.swiper
                    .swiper-wrapper
                        img.swiper-slide(src='./assets/img/recent3.webp')
                        img.swiper-slide(src='./assets/img/recent3.webp')
                        img.swiper-slide(src='./assets/img/recent3.webp')
                        img.swiper-slide(src='./assets/img/recent3.webp')
                        img.swiper-slide(src='./assets/img/recent3.webp')
                    img.cart__item__swiper__prev(src='./assets/img/icons/arrow_circle.svg')
                    img.cart__item__swiper__next(src='./assets/img/icons/arrow_circle.svg')
                img.cart__item__big-picture(src='./assets/img/recent3.webp')
            .cart__item__main-info.main-info
                .main-info__head
                    .main-info__name Боди без рукавов "ФРУК-ТИК", розовый
                    .main-info__status На складе
                    .main-info__code Код товара: 32978459390
                .main-info__stash
                    .main-info__price 349 ₽/шт
                    .main-info__buy-button
                    form.main-info__size
                        legend.main-info__size-legend Размер:

                        input(type='radio', name='register_webinar_', value='74')#wnr1.main-info__size-input
                        label(for='wnr1').main-info__size-label 74

                        input(type='radio', name='register_webinar_', value='75')#wnr2.main-info__size-input
                        label(for='wnr2').main-info__size-label 75

                        input(type='radio', name='register_webinar_', value='76')#wnr3.main-info__size-input
                        label(for='wnr3').main-info__size-label 76
                .main-info__line
                .main-info__delivery-option.delivery-option
                    .delivery-option__item
                        .delivery-option__image.delivery-option__image_car
                        .delivery-option__content
                            .delivery-option__title Доставка в Краснодар
                            .delivery-option__text Самовывоз — бесплатно
                            .delivery-option__option Рассчитать доставку

                    .delivery-option__item
                        .delivery-option__image.delivery-option__image_box
                        .delivery-option__content
                            .delivery-option__title Самовывоз сегодня - бесплатно
                            .delivery-option__text Доставка завтра - 370 ₽

                    .delivery-option__note Цена действительна только для интернет-магазина и может отличаться от цен в розничных магазинах
            .cart__item__description
                .cart__item__title Описание
                p.cart__item__text
                    | Боди-майка из мягчайшего интерлока. Прекрасный вариант для жаркого лета.
                    br
                    br
                    |Кнопки расположены на плечиках и между ножками, что позволяет быстро переодеть малыша или сменить подгузник.
                    br
                    br
                    |Состав: 100% хлопок
            .cart__item__reviews.reviews
                .cart__item__title Отзывы
                .reviews__list
                    .reviews__empty
                        .reviews__text У данного товара нет отзывов. Станьте первым, кто оставил отзыв об этом товаре!
                        button.reviews__create-review-button оставить отзыв

                    //.reviews__item
