section.catalog
  .catalog__title-wrapper
    .catalog__title__line
    .catalog__title
      h2.catalog__title__text.title Каталог
  
  .container 
    .catalog__wrapper
      .catalog__item.catalog__item1
        .catalog__item__label
          .catalog__item__label__text.catalog__item__label__text-item1 АКСЕССУАРЫ
        
        .catalog__item__menu.catalog__item1__menu
          .catalog__item__menu-wrapper
            .catalog__item__menu__item Конверты и пледы
              .catalog__item__menu__sub-menu.catalog__item__menu
                .catalog__item__menu__item Боди
                .catalog__item__menu__item Песочники
                .catalog__item__menu__item Нательные комбизнезоны (слипы)
                .catalog__item__menu__item Комбинезоны из футера
                .catalog__item__menu__item Комбинезоны вязаные
                .catalog__item__menu__item Демисезонные комбинезоны
                .catalog__item__menu__item Комбинезоны-трансформеры
                .catalog__item__menu__item Головные уборы
                .catalog__item__menu__item Носочки
                .catalog__item__menu__item Нагрудники
                .catalog__item__menu__item Изделия из муслина
            .catalog__item__menu__item Пеленки
            .catalog__item__menu__item Аксессуары
            .catalog__item__menu__item Готовые подборки

            .catalog__item__menu-mobile 
              .catalog__item__menu-mobile__item Боди
              .catalog__item__menu-mobile__item Песочники
              .catalog__item__menu-mobile__item Нательные комбизнезоны (слипы)
              .catalog__item__menu-mobile__item Комбинезоны из футера
              .catalog__item__menu-mobile__item Комбинезоны вязаные
              .catalog__item__menu-mobile__item Демисезонные комбинезоны
              .catalog__item__menu-mobile__item Комбинезоны-трансформеры
              .catalog__item__menu-mobile__item Головные уборы
              .catalog__item__menu-mobile__item Носочки
              .catalog__item__menu-mobile__item Нагрудники
              .catalog__item__menu-mobile__item Изделия из муслина

      .catalog__item.catalog__item2
        .catalog__item__label
          .catalog__item__label__text.catalog__item__label__text-item2 КОНВЕРТЫ И ПЛЕДЫ
        
        .catalog__item__menu.catalog__item2__menu
          .catalog__item__menu-wrapper
            .catalog__item__menu__item Конверты и пледы
              .catalog__item__menu__sub-menu.catalog__item__menu
                .catalog__item__menu__item Боди
                .catalog__item__menu__item Песочники
                .catalog__item__menu__item Нательные комбизнезоны (слипы)
                .catalog__item__menu__item Комбинезоны из футера
                .catalog__item__menu__item Комбинезоны вязаные
                .catalog__item__menu__item Демисезонные комбинезоны
                .catalog__item__menu__item Комбинезоны-трансформеры
                .catalog__item__menu__item Головные уборы
                .catalog__item__menu__item Носочки
                .catalog__item__menu__item Нагрудники
                .catalog__item__menu__item Изделия из муслина
            .catalog__item__menu__item Пеленки
            .catalog__item__menu__item Аксессуары
            .catalog__item__menu__item Готовые подборки

            .catalog__item__menu-mobile 
              .catalog__item__menu-mobile__item Боди
              .catalog__item__menu-mobile__item Песочники
              .catalog__item__menu-mobile__item Нательные комбизнезоны (слипы)
              .catalog__item__menu-mobile__item Комбинезоны из футера
              .catalog__item__menu-mobile__item Комбинезоны вязаные
              .catalog__item__menu-mobile__item Демисезонные комбинезоны
              .catalog__item__menu-mobile__item Комбинезоны-трансформеры
              .catalog__item__menu-mobile__item Головные уборы
              .catalog__item__menu-mobile__item Носочки
              .catalog__item__menu-mobile__item Нагрудники
              .catalog__item__menu-mobile__item Изделия из муслина

      .catalog__item.catalog__item3
        .catalog__item__label
          .catalog__item__label__text.catalog__item__label__text-item3 ОДЕЖДА
        
        .catalog__item__menu.catalog__item3__menu
          .catalog__item__menu-wrapper
            .catalog__item__menu__item Конверты и пледы
              .catalog__item__menu__sub-menu.catalog__item__menu
                .catalog__item__menu__item Боди
                .catalog__item__menu__item Песочники
                .catalog__item__menu__item Нательные комбизнезоны (слипы)
                .catalog__item__menu__item Комбинезоны из футера
                .catalog__item__menu__item Комбинезоны вязаные
                .catalog__item__menu__item Демисезонные комбинезоны
                .catalog__item__menu__item Комбинезоны-трансформеры
                .catalog__item__menu__item Головные уборы
                .catalog__item__menu__item Носочки
                .catalog__item__menu__item Нагрудники
                .catalog__item__menu__item Изделия из муслина
            .catalog__item__menu__item Пеленки
            .catalog__item__menu__item Аксессуары
            .catalog__item__menu__item Готовые подборки

            .catalog__item__menu-mobile 
              .catalog__item__menu-mobile__item Боди
              .catalog__item__menu-mobile__item Песочники
              .catalog__item__menu-mobile__item Нательные комбизнезоны (слипы)
              .catalog__item__menu-mobile__item Комбинезоны из футера
              .catalog__item__menu-mobile__item Комбинезоны вязаные
              .catalog__item__menu-mobile__item Демисезонные комбинезоны
              .catalog__item__menu-mobile__item Комбинезоны-трансформеры
              .catalog__item__menu-mobile__item Головные уборы
              .catalog__item__menu-mobile__item Носочки
              .catalog__item__menu-mobile__item Нагрудники
              .catalog__item__menu-mobile__item Изделия из муслина


      .catalog__item.catalog__item4
        .catalog__item__label
          .catalog__item__label__text.catalog__item__label__text-item4 ПЕЛЕНКИ
        
        .catalog__item__menu.catalog__item4__menu
          .catalog__item__menu-wrapper
            .catalog__item__menu__item Конверты и пледы
              .catalog__item__menu__sub-menu.catalog__item__menu__sub-menu_left-side.catalog__item__menu
                .catalog__item__menu__item Боди
                .catalog__item__menu__item Песочники
                .catalog__item__menu__item Нательные комбизнезоны (слипы)
                .catalog__item__menu__item Комбинезоны из футера
                .catalog__item__menu__item Комбинезоны вязаные
                .catalog__item__menu__item Демисезонные комбинезоны
                .catalog__item__menu__item Комбинезоны-трансформеры
                .catalog__item__menu__item Головные уборы
                .catalog__item__menu__item Носочки
                .catalog__item__menu__item Нагрудники
                .catalog__item__menu__item Изделия из муслина
            .catalog__item__menu__item Пеленки
            .catalog__item__menu__item Аксессуары
            .catalog__item__menu__item Готовые подборки

            .catalog__item__menu-mobile 
              .catalog__item__menu-mobile__item Боди
              .catalog__item__menu-mobile__item Песочники
              .catalog__item__menu-mobile__item Нательные комбизнезоны (слипы)
              .catalog__item__menu-mobile__item Комбинезоны из футера
              .catalog__item__menu-mobile__item Комбинезоны вязаные
              .catalog__item__menu-mobile__item Демисезонные комбинезоны
              .catalog__item__menu-mobile__item Комбинезоны-трансформеры
              .catalog__item__menu-mobile__item Головные уборы
              .catalog__item__menu-mobile__item Носочки
              .catalog__item__menu-mobile__item Нагрудники
              .catalog__item__menu-mobile__item Изделия из муслина

      .catalog__item.catalog__item5
        .catalog__item__label
          .catalog__item__label__text.catalog__item__label__text-item5 ГОТОВЫЕ ПОДБОРКИ
        
        .catalog__item__menu.catalog__item5__menu
          .catalog__item__menu-wrapper
            .catalog__item__menu__item Конверты и пледы
              .catalog__item__menu__sub-menu.catalog__item__menu__sub-menu_left-side.catalog__item__menu
                .catalog__item__menu__item Боди
                .catalog__item__menu__item Песочники
                .catalog__item__menu__item Нательные комбизнезоны (слипы)
                .catalog__item__menu__item Комбинезоны из футера
                .catalog__item__menu__item Комбинезоны вязаные
                .catalog__item__menu__item Демисезонные комбинезоны
                .catalog__item__menu__item Комбинезоны-трансформеры
                .catalog__item__menu__item Головные уборы
                .catalog__item__menu__item Носочки
                .catalog__item__menu__item Нагрудники
                .catalog__item__menu__item Изделия из муслина
            .catalog__item__menu__item Пеленки
            .catalog__item__menu__item Аксессуары
            .catalog__item__menu__item Готовые подборки

            .catalog__item__menu-mobile 
              .catalog__item__menu-mobile__item Боди
              .catalog__item__menu-mobile__item Песочники
              .catalog__item__menu-mobile__item Нательные комбизнезоны (слипы)
              .catalog__item__menu-mobile__item Комбинезоны из футера
              .catalog__item__menu-mobile__item Комбинезоны вязаные
              .catalog__item__menu-mobile__item Демисезонные комбинезоны
              .catalog__item__menu-mobile__item Комбинезоны-трансформеры
              .catalog__item__menu-mobile__item Головные уборы
              .catalog__item__menu-mobile__item Носочки
              .catalog__item__menu-mobile__item Нагрудники
              .catalog__item__menu-mobile__item Изделия из муслина
    
    
    h2.title.catalog__collection-title Готовые подборки
    .catalog__collection
      
      .catalog__collection-wrapper
        .catalog__collection__item
          img(src="./assets/img/collection1.jpeg", alt="colection").catalog__collection__item__img
          .catalog__collection__item__text Подборка №106
        
        .catalog__collection__item
          img(src="./assets/img/collection2.jpeg", alt="colection").catalog__collection__item__img
          .catalog__collection__item__text Подборка №106
        
        .catalog__collection__item
          img(src="./assets/img/collection3.jpeg", alt="colection").catalog__collection__item__img
          .catalog__collection__item__text Подборка №106
        
        .catalog__collection__item
          img(src="./assets/img/collection4.jpeg", alt="colection").catalog__collection__item__img
          .catalog__collection__item__text Подборка №106
        
        .catalog__collection__item
          img(src="./assets/img/collection4.jpeg", alt="colection").catalog__collection__item__img
          .catalog__collection__item__text Подборка №106
    
    .swiper.mySwiper
      .swiper-wrapper
        .swiper-slide
          .catalog__collection__item
            img(src="./assets/img/collection1.jpeg", alt="colection").catalog__collection__item__img
            .catalog__collection__item__text Подборка №106
        .swiper-slide
          .catalog__collection__item
            img(src="./assets/img/collection2.jpeg", alt="colection").catalog__collection__item__img
            .catalog__collection__item__text Подборка №106
        .swiper-slide
          .catalog__collection__item
            img(src="./assets/img/collection3.jpeg", alt="colection").catalog__collection__item__img
            .catalog__collection__item__text Подборка №106
        .swiper-slide
          .catalog__collection__item
            img(src="./assets/img/collection4.jpeg", alt="colection").catalog__collection__item__img
            .catalog__collection__item__text Подборка №106
        .swiper-slide
          .catalog__collection__item
            img(src="./assets/img/collection4.jpeg", alt="colection").catalog__collection__item__img
            .catalog__collection__item__text Подборка №106
      
      .swiper-button-next
      .swiper-button-prev
    

