.catalog(style="display: none")
  .container
    .catalog__wrapper

      .catalog__chapter
        .catalog__chapter__title ОДЕЖДА
        .catalog__chapter__elements
          a.catalog__chapter__element.catalog__chapter__element_active(href="#")  Изделия из муслина
          a.catalog__chapter__element(href="#") Боди
          a.catalog__chapter__element(href="#") Песочники
          a.catalog__chapter__element(href="#") Нательные комбинезоны (слипы)
          a.catalog__chapter__element(href="#") Комбинезоны из футера
          a.catalog__chapter__element(href="#") Комбинезоны вязаные
          a.catalog__chapter__element(href="#") Демисезонные комбинезоны
          a.catalog__chapter__element(href="#") Комбинезоны-трансформеры
          a.catalog__chapter__element(href="#") Головные уборы
          a.catalog__chapter__element(href="#") Носочки
          a.catalog__chapter__element(href="#") Нагрудники
      
      .catalog__chapter
        .catalog__chapter__title ПЕЛЕНКИ
        .catalog__chapter__elements
          a.catalog__chapter__element(href="#") Пеленальные коконы
          a.catalog__chapter__element(href="#") Пеленки из фланели
          a.catalog__chapter__element(href="#") Пеленки из муслина
          a.catalog__chapter__element(href="#") Пеленки из интерлока
      
      .catalog__chapter
        .catalog__chapter__title КОНВЕРТЫ И ПЛЕДЫ
        .catalog__chapter__elements
          a.catalog__chapter__element(href="#") Конверты в коляску
          a.catalog__chapter__element(href="#") Пледы
          a.catalog__chapter__element(href="#") Конверты на выписку
      
      .catalog__chapter
        .catalog__chapter__title АКСЕССУАРЫ
        .catalog__chapter__elements
          a.catalog__chapter__element(href="#") Сумки-органайзеры
          a.catalog__chapter__element(href="#") Муфты-варежки
          a.catalog__chapter__element(href="#") Грызунки
          a.catalog__chapter__element(href="#") Альбомы для фотографий
          a.catalog__chapter__element(href="#") Держатели для соски/грузунка
      
      .catalog__chapter
        .catalog__chapter__title ГОТОВЫЕ ПОДБОРКИ
        .catalog__chapter__elements