include ../ui/product-card


.catalog-goods
  include catalog-view-filter
  .catalog-goods__cards

    .catalog-goods__card
      +product-card("./assets/img/recent1.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "в корзину")
    
    .catalog-goods__card 
      +product-card("./assets/img/recent2.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "в корзину")
    
    .catalog-goods__card 
      +product-card("./assets/img/recent3.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "в корзину")
    
    .catalog-goods__card 
      +product-card("./assets/img/recent4.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "Нет в наличии", "в корзину")
    
    .catalog-goods__card 
      +product-card("./assets/img/recent5.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "На складе", "в корзину")

    .catalog-goods__card
      +product-card("./assets/img/recent1.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "в корзину")
    
    .catalog-goods__card 
      +product-card("./assets/img/recent2.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "в корзину")
    
    .catalog-goods__card 
      +product-card("./assets/img/recent3.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "в корзину")
    
    .catalog-goods__card 
      +product-card("./assets/img/recent4.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "Нет в наличии", "в корзину")
    
    .catalog-goods__card 
      +product-card("./assets/img/recent5.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "На складе", "в корзину")

    .catalog-goods__card
      +product-card("./assets/img/recent1.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "в корзину")
    
    .catalog-goods__card 
      +product-card("./assets/img/recent2.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "в корзину")
    
    .catalog-goods__card 
      +product-card("./assets/img/recent3.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "в корзину")
    
    .catalog-goods__card 
      +product-card("./assets/img/recent4.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "Нет в наличии", "в корзину")
    
    .catalog-goods__card 
      +product-card("./assets/img/recent5.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "На складе", "в корзину")

    .catalog-goods__card
      +product-card("./assets/img/recent1.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "в корзину")
    
    .catalog-goods__card 
      +product-card("./assets/img/recent2.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "в корзину")
    
    .catalog-goods__card 
      +product-card("./assets/img/recent3.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "в корзину")
    
    .catalog-goods__card 
      +product-card("./assets/img/recent4.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "Нет в наличии", "в корзину")
    
    .catalog-goods__card 
      +product-card("./assets/img/recent5.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "На складе", "в корзину")

    .catalog-goods__card
      +product-card("./assets/img/recent1.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "в корзину")
    
    .catalog-goods__card 
      +product-card("./assets/img/recent2.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "в корзину")
    
    .catalog-goods__card 
      +product-card("./assets/img/recent3.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "в корзину")
    
    .catalog-goods__card 
      +product-card("./assets/img/recent4.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "Нет в наличии", "в корзину")
    
    .catalog-goods__card 
      +product-card("./assets/img/recent5.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "На складе", "в корзину")

    .catalog-goods__card
      +product-card("./assets/img/recent1.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "в корзину")
    
    .catalog-goods__card 
      +product-card("./assets/img/recent2.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "в корзину")
    
    .catalog-goods__card 
      +product-card("./assets/img/recent3.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "в корзину")
    
    .catalog-goods__card 
      +product-card("./assets/img/recent4.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "Нет в наличии", "в корзину")
    
    .catalog-goods__card 
      +product-card("./assets/img/recent5.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "На складе", "в корзину")

    
    


  