.catalog-view-filter 
  .catalog-view-filter__sort 
    .catalog-view-filter__sort__text По умолчанию (возрастание)
    img(src="./assets/img/icons/chevron.svg", alt="chevron").catalog-view-filter__sort__img
    img(src="./assets/img/icons/filter.svg", alt="filter").catalog-view-filter__sort__filters-img
    .catalog-view-filter__sort__filters-text Фильтры
    
  .catalog-view-filter__view
    .catalog-view-filter__view__text Вид:
    button.catalog-view-filter__view__img.catalog-view-filter__view__img_active
      svg(xmlns='http://www.w3.org/2000/svg' width="16" height="16" viewbox='0 0 16 16')
        rect(width='4' height='4' rx='1')
        rect(y='6' width='4' height='4' rx='1')
        rect(y='12' width='4' height='4' rx='1')
        rect(x='6' y='6' width='4' height='4' rx='1')
        rect(x='6' y='12' width='4' height='4' rx='1')
        rect(x='12' y='6' width='4' height='4' rx='1')
        rect(x='12' y='12' width='4' height='4' rx='1')
        rect(x='6' width='4' height='4' rx='1')
        rect(x='12' width='4' height='4' rx='1')

    button.catalog-view-filter__view__img
      svg( xmlns='http://www.w3.org/2000/svg' width="18" height="16" viewbox='0 0 18 16')
        rect(width='4' height='4' rx='1')
        rect(y='6' width='4' height='4' rx='1')
        rect(y='12' width='4' height='4' rx='1')
        rect(x='6' y='6' width='12' height='4' rx='1')
        rect(x='6' y='12' width='12' height='4' rx='1')
        rect(x='6' width='12' height='4' rx='1')

    button.catalog-view-filter__view__img
      svg(xmlns='http://www.w3.org/2000/svg' width="18" height="16" viewbox='0 0 18 16')
        rect(width='3.17647' height='3.2' rx='1')
        rect(x='5.29419' width='12.7059' height='3.2' rx='1')
        rect(y='12.8' width='3.17647' height='3.2' rx='1')
        rect(x='5.29419' y='12.8' width='12.7059' height='3.2' rx='1')
        rect(y='8.53333' width='3.17647' height='3.2' rx='1')
        rect(x='5.29419' y='8.53333' width='12.7059' height='3.2' rx='1')
        rect(y='4.26666' width='3.17647' height='3.2' rx='1')
        rect(x='5.29419' y='4.26666' width='12.7059' height='3.2' rx='1')
