#changePasswordModal.change-password-modal__overflow
    .change-password-modal.modal
        button#changePasswordModalCloseButton.change-password-modal__close-btn.close-btn
        .change-password-modal__wrapper
            p.change-password-modal__title Профиль пользователя
            p.change-password-modal__comment Длина пароля не менее 6 символов
            form.change-password-modal__form.form
                .form__wrapper.change-password-modal__form-wrapper
                    .form__popup.change-password-modal__form-popup-container
                        .form__item.change-password-modal__form-item.change-password-modal__form-item_FIO
                            label.form__input-label(for='fullName') Ф.И.О. *
                            input.form__input-text.change-password-modal__input-text(name='fullName', id='fullName', value='', placeholder='Иванов Иван Иванович')
                        .form__item.change-password-modal__form-item.change-password-modal__form-item_email
                            label.form__input-label(for='email') E-Mail *
                            input.form__input-text.change-password-modal__input-text(name='email', id='email', value='', placeholder='ivanov@gmail.com')
                        .form__item.change-password-modal__form-item.change-password-modal__form-item_phoneNumber
                            label.form__input-label(for='phone') Телефон *
                            input.form__input-text.change-password-modal__input-text(name='phone', id='phone', value='', placeholder='+7 (xxx) xxx-xx-xx')
                        button.button.form__buy-button.change-password-modal__form-item_registrationButton сохранить изменения

script.
    const buttonChangePasswordModalOpen = document.querySelector('#openChangePasswordModal')
    const changePasswordModal = document.querySelector('#changePasswordModal')
    const changePasswordModalCloseButton = document.querySelector('#changePasswordModalCloseButton')

    buttonChangePasswordModalOpen.addEventListener('click', () => {
        changePasswordModal.classList.add('change-password-modal__overflow_active')
    })
    changePasswordModalCloseButton.addEventListener('click', () => {
        changePasswordModal.classList.remove('change-password-modal__overflow_active')
    })

