section.delivery-methods 
  .container
    .delivery-methods__title.title Способы доставки:
    .delivery-methods__descr Доставка ваших заказов осуществляется по всей России следующими способами:
    ol.delivery-methods__list 
      li.delivery-methods__list__item Курьером до двери (по Москве в пределах МКАД) – стоимость 400 рублей. Удобные для вас дата и время доставки согласовывается с вами заблаговременно. Срочная курьерская доставка (день в день) по Москве в пределах МКАД – 500 руб. (при наличии свободного курьера).
      li.delivery-methods__list__item Компанией СДЭК (до пункта выдачи заказов, удобного для вас в вашем городе или до двери) – стоимость и срок доставки* зависит от вашего города проживания и размера упаковки вашего заказа.
      li.delivery-methods__list__item Почтой России (до удобного вам отделения связи) – стоимость и срок доставки* зависит от вашего города проживания и размера упаковки вашего заказа. <br> <span>*Отправление заказов осуществляется в срок от 1-3 раб.дн. с момента оплаты вами заказа. (Зачастую отправления заказов осуществляются в срок 1-2 дня).</span> <br> Заказы, сделанные в пятницу после 15:00 и в выходные дни - подтверждаются в понедельник и ближайшая доставка по Москве – вторник или среда.
      li.delivery-methods__list__item Самовывоз - возможен из шоу-рума (согласно графика работы) по адресу: г. Москва, м.Нагорная, Электролитный проезд 3Б стр 6 (5 мин от метро Нагорная). Предварительно согласовывается наличие товара и время забора заказа.