.delivery-terms
    .container
        .delivery-terms__wrapper
            .delivery-terms__title.text-info__bold Условия оплаты и возврата
            .delivery-terms__block
                .text-info__head2.text-info__bold Наш интернет-магазин предлагает несколько вариантов доставки:
                ul.text-info__unordered-list.text-info__gray
                    li Курьерская;
                    li Cамовывоз из магазина;
                    li Постаматы;
                    li Почта России.
            .delivery-terms__block
                .text-info__head2.text-info__bold Курьерская доставка*
                .text-info__text Вы можете заказать доставку товара с помощью курьера, который прибудет по указанному адресу в будние дни и субботу с 9.00 до 19.00. Курьерская служба, после поступления товара на склад, свяжется с вами и предложит выбрать удобное время доставки. Уточнит адрес.
                .text-info__text Вы вскрываете упаковку при курьере, осматриваете на целостность и соответствие указанной комплектации. Если речь идёт об одежде, допустима примерка. Время осмотра и примерки ограничено 15 минутами. После вы можете отказаться частично или полностью от покупки.
                .text-info__text Доставка бесплатна при заказе от 3000 рублей.
                .text-info__text.text-info__bold *Действует ли в вашем городе курьерская служба, уточняйте у менеджера магазина.
            .delivery-terms__block
                .text-info__head2.text-info__bold Самовывоз из магазина
                .text-info__text Вы можете забрать товар в одном из магазинов, сотрудничающих с нами. Список торговых точек, которые принимают заказы от нашей компании появится у вас в корзине. Когда заказ поступит в ваш город, вам придёт уведомление. Вы просто идёте в этот магазин, обращаетесь к сотруднику в кассовой зоне и называете номер заказа. Забрать покупку может ваш друг или родственник, который знает номер и имя, на кого он оформлен.

            .delivery-terms__block
                .text-info__head2.text-info__bold Постамат
                .text-info__text Постамат – это терминал с автоматизированной системой для хранения заказанных товаров. Удобство в том, что человек может забрать заказ в любое удобное время.

            .delivery-terms__block
                .text-info__head2.text-info__bold Как работать с постаматом:
                .ul.text-info__unordered-list.text-info__gray
                    li В момент оформления заказа на сайте, вы выбираете удобный для себя постамат, если такая система работает в вашем городе;
                    li На ваш телефон или e-mail придет уникальный код, это значит, что товар доставлен в постамат;
                    li Вы приходите к постамату, вводите полученный код и следует инструкциям автомата;
                    li Оплачиваете заказ в терминале постамата;
                    li Забираете товар.
                .text-info__text.text-info__bold Срок хранения в постамате 3 дня, но можно продлить ещё на аналогичный срок. Чтобы уточнить информацию и продлить время хранения зайдите на сайт нашего партнера, введите номер заказа и телефон и следуйте подсказкам на сайте.

            .delivery-terms__block
                .text-info__head2.text-info__bold Почтовая доставка
                .text-info__text Если в вашем городе не действует курьерская служба и постаматы, то вы можете заказать доставку через почту России. Сразу по прибытии товара, на ваш адрес придет извещение о посылке.
                .text-info__text Перед оплатой вы можете оценить состояние коробки (не вскрывая): вес, целостность. Если вам кажется, что заказ не соответствует параметрам или коробка повреждена, попросите сотрудника почты составить акт о вскрытии. Вскрывать коробку самостоятельно вы можете только после того, как оплатили заказ.
                .text-info__text Один заказ может содержать не больше 10 позиций и его стоимость не должна превышать 100 тысяч рублей.

            .delivery-terms__block
                .text-info__head2.text-info__bold Срок доставки
                .text-info__text В зависимости от вашего региона проживания, доставка занимает разное время.
                table.delivery-terms__table
                    thead
                        tr
                            th.delivery-terms__header_region Регион
                            th Курьерская доставка
                            th Самовывоз из магазина
                            th Постамат
                            th Почта России
                    tbody.delivery-terms__table-body
                        tr
                            td.delivery-terms__table-head Московская область, Ленинградская область
                            td.delivery-terms__table-stat(colspan=3) 2 рабочих дня
                            td.delivery-terms__table-stat 5 дней
                        tr
                            td.delivery-terms__table-head Урал и Поволжье
                            td.delivery-terms__table-stat 5-7 рабочих дней
                            td.delivery-terms__table-stat 6-9 рабочих дней
                            td.delivery-terms__table-stat 5 дней
                            td.delivery-terms__table-stat 14 дней
                        tr
                            td.delivery-terms__table-head Сибирь
                            td.delivery-terms__table-stat 8-10 рабочих дней
                            td.delivery-terms__table-stat 12 рабочих дней
                            td.delivery-terms__table-stat 8 дней
                            td.delivery-terms__table-stat 14-21 день

                .delivery-terms__deadlines.delivery-terms__deadlines_first
                    .delivery-terms__deadlines__title.text-info__text.text-info__bold Московская область, Ленинградская область
                    .delivery-terms__deadlines__list
                        .delivery-terms__deadlines__name.text-info__text Курьерская доставка:
                        .text-info__text.text-info__gray 2 рабочих дня

                    .delivery-terms__deadlines__list
                        .delivery-terms__deadlines__name.text-info__text Самовывоз из магазина:
                        .text-info__text.text-info__gray 2 рабочих дня

                    .delivery-terms__deadlines__list
                        .delivery-terms__deadlines__name.text-info__text Постамат:
                        .text-info__text.text-info__gray 2 рабочих дня

                    .delivery-terms__deadlines__list
                        .delivery-terms__deadlines__name.text-info__text Почта России:
                        .text-info__text.text-info__gray 5 дней

                .delivery-terms__deadlines
                    .delivery-terms__deadlines__title.text-info__text.text-info__bold Урал и Поволжье
                    .delivery-terms__deadlines__list
                        .delivery-terms__deadlines__name.text-info__text Курьерская доставка:
                        .text-info__text.text-info__gray 5-7 рабочих дней

                    .delivery-terms__deadlines__list
                        .delivery-terms__deadlines__name.text-info__text Самовывоз из магазина:
                        .text-info__text.text-info__gray 6-9 рабочих дней

                    .delivery-terms__deadlines__list
                        .delivery-terms__deadlines__name.text-info__text Постамат:
                        .text-info__text.text-info__gray 5 дней

                    .delivery-terms__deadlines__list
                        .delivery-terms__deadlines__name.text-info__text Почта России:
                        .text-info__text.text-info__gray 14 дней

                .delivery-terms__deadlines
                    .delivery-terms__deadlines__title.text-info__text.text-info__bold Сибирь
                    .delivery-terms__deadlines__list
                        .delivery-terms__deadlines__name.text-info__text Курьерская доставка:
                        .text-info__text.text-info__gray 8-10 рабочих дней

                    .delivery-terms__deadlines__list
                        .delivery-terms__deadlines__name.text-info__text Самовывоз из магазина:
                        .text-info__text.text-info__gray 12 рабочих дней

                    .delivery-terms__deadlines__list
                        .delivery-terms__deadlines__name.text-info__text Постамат:
                        .text-info__text.text-info__gray 8 дней

                    .delivery-terms__deadlines__list
                        .delivery-terms__deadlines__name.text-info__text Почта России:
                        .text-info__text.text-info__gray 14-21 день


                .text-info__text.text-info__bold О доставке в другие регионы России и страны СНГ уточняйте менеджеров магазина.


