footer.footer 
  .container 
    .footer__wrapper 
      .footer__links-wrapper
        .footer__links
          a.footer__links__item.footer__links__item_active(href="#") Главная
          a.footer__links__item(href="#") Как купить
          a.footer__links__item(href="#") Доставка
          a.footer__links__item(href="#") О компании
          a.footer__links__item(href="#") Мы в instagram
          a.footer__links__item(href="#") Акции
          a.footer__links__item(href="#") Как купить
        
        .footer__links
          a.footer__links__item(href="#") Как купить
          a.footer__links__item(href="#") Новости
          a.footer__links__item(href="#") Отзывы
          a.footer__links__item(href="#") Контакты
          a.footer__links__item(href="#") Лицензии
          a.footer__links__item(href="#") Оплата и возврат
          a.footer__links__item(href="#") Условия доставки

      

      .footer__logo-wrapper 
        img.footer__logo(src="./assets/img/logo.png", alt="logo")
        .footer__copyright 2022 © «LalaSTORE»
        .footer__payment-wrapper 
          img.footer__payment-method(src="./assets/img/mir.svg", alt="mir")
          img.footer__payment-method(src="./assets/img/paykeeper.svg", alt="payKeeper")
          img.footer__payment-method(src="./assets/img/mastercard.svg", alt="mastercard")
          img.footer__payment-method(src="./assets/img/visa.svg", alt="visa")
        a.footer__policy(href="#") Политика конфиденциальности
      
      
      .footer__contacts-wrapper
        .footer__contacts
          .footer__contacts-item 
            img.footer__contacts-item__img(src="./assets/img/icons/geo.svg", alt="geo")
            .footer__contacts-item__text Адрес шоурума:, г. Москва, Электролитный проезд 3Б стр 6
          
          .footer__contacts-item 
            img.footer__contacts-item__img(src="./assets/img/icons/email.svg", alt="mail")
            .footer__contacts-item__text info@lalastore.ru
          
          .footer__contacts-item 
            img.footer__contacts-item__img(src="./assets/img/icons/phone.svg", alt="phone")
            .footer__contacts-item__text +7 916 361-30-00
          

