footer.footer 
  .container 
    .footer__wrapper 
      .footer__links-wrapper
        ul.footer__links
          li 
            a.footer__links__item_active(href="./index.html") Главная
          li 
            a(href="./how-to-buy-page.html") Как купить
          li 
            a(href="./delivery-terms-page.html") Доставка
          li 
            a(href="./about-company-page.html") О компании
          li 
            a(href="#") Мы в instagram
          li 
            a(href="#") Акции
          li 
            a(href="./how-to-buy-page.html") Как купить
        
        ul.footer__links
          li 
            a(href="./how-to-buy-page.html") Как купить
          li 
            a(href="./news-list-page.html") Новости
          li 
            a(href="#") Отзывы
          li 
            a(href="#") Контакты
          li 
            a(href="#") Лицензии
          li 
            a(href="#") Оплата и возврат
          li 
            a(href="#") Условия доставки

      

      .footer__logo-wrapper 
        img.footer__logo(src="./assets/img/logo.webp", alt="logo")
        .footer__copyright 2022 © «LalaSTORE»
        .footer__payment-wrapper 
          img.footer__payment-method(src="./assets/img/mir.svg", alt="mir")
          img.footer__payment-method(src="./assets/img/paykeeper.svg", alt="payKeeper")
          img.footer__payment-method(src="./assets/img/mastercard.svg", alt="mastercard")
          img.footer__payment-method(src="./assets/img/visa.svg", alt="visa")
        a.footer__policy(href="#") Политика конфиденциальности
      
      
      .footer__contacts-wrapper
        ul.footer__contacts
          li.footer__contacts-item 
            img.footer__contacts-item__img(src="./assets/img/icons/geo.svg", alt="geo")
            .footer__contacts-item__text Адрес шоурума:, г. Москва, Электролитный проезд 3Б стр 6
          
          li.footer__contacts-item 
            img.footer__contacts-item__img(src="./assets/img/icons/email.svg", alt="mail")
            .footer__contacts-item__text info@lalastore.ru
          
          li.footer__contacts-item 
            img.footer__contacts-item__img(src="./assets/img/icons/phone.svg", alt="phone")
            .footer__contacts-item__text +7 916 361-30-00
          

