header.header
  .container
    .header__wrapper-top
      .header__elements
        .header__element.header__element-geo г. Москва, Электролитный проезд 3Б стр 6
        a(href="tel:+79163613000").header__element.header__element-phone +7 916 361-30-00
      .header__elements
        a(href="#").header__element.header__element-catalog Каталог
        a(href="#").header__element.header__element_active Главная
        a(href="#").header__element Как купить
        a(href="#").header__element Доставка
        a(href="#").header__element О компании
        a(href="#").header__element Мы в instagram
        a(href="#").header__element Акции

    