header.header
  .container
    .header__wrapper-top
      .header__elements
        .header__element.header__element-geo г. Москва, Электролитный проезд 3Б стр 6
        a(href="tel:+79163613000").header__element.header__element-phone +7 916 361-30-00
      nav.header__elements
        button.header__element.header__element-catalog Каталог
        a(href="./index.html").header__element.header__element_active Главная
        a(href="#").header__element Как купить
        a(href="#").header__element Доставка
        a(href="#").header__element О компании
        a(href="#").header__element Мы в instagram
        a(href="#").header__element Акции
    
  .header-mobile
    button.header-mobile__burger.nav-toggle <span class="bar-top"></span> <span class="bar-mid"></span> <span class="bar-bot"></span>
    a.header-mobile__logo(href="./index.html") 
      img.header-mobile__logo(src="./assets/img/logo.webp", alt="logo")
    button.header-mobile__search-btn
      img.header-mobile__search-btn__img(src="./assets/img/icons/search_dark.svg", alt="search")
      
  .header__sidebar.header__sidebar-menu
    .container
      ul.header__sidebar__pages 
        li.header__sidebar__pages__item.header__sidebar__pages__item_active
          a(href="./index.html") Главная
        li.header__sidebar__pages__item
          a(href="#") Как купить
        li.header__sidebar__pages__item
          a(href="#") Доставка
        li.header__sidebar__pages__item
          a(href="#") О компании
        li.header__sidebar__pages__item
          a(href="#") Мы в instagram
        li.header__sidebar__pages__item
          a(href="#") Акции
      
      .header__sidebar__contacts
        .header__sidebar__contacts__item
          img.header__sidebar__contacts__item__img(src="./assets/img/icons/geo.svg", alt="geo")
          .header__sidebar__contacts__item__text.header__sidebar__contacts__item__text-geo г. Москва, Электролитный проезд 3Б стр 6

        .header__sidebar__contacts__item
          img.header__sidebar__contacts__item__img(src="./assets/img/icons/phone.svg", alt="phone")
          a(href="tel:79163613000").header__sidebar__contacts__item__text +7 916 361-30-00
  
  .header__sidebar.header__sidebar-search 
    .container.header__sidebar-search-container
      .header__sidebar-search__search 
        input(type="text" placeholder="Начните писать").input.header__sidebar-search__search__area
        button.button.header__sidebar-search__search__button
          img.header__sidebar-search__button__img(src="./assets/img/icons/search_white.svg", alt="search")

      .header__sidebar-search__results(style="display: none")
          a.header__sidebar-search__results__item(href="#") Детские пеленки
          a.header__sidebar-search__results__item(href="#") Конверты на выписку для мальчика
          a.header__sidebar-search__results__item(href="#") Соски
          a.header__sidebar-search__results__item(href="#") Грызунки