.how-to-buy
    .container
        .how-to-buy__wrapper
            .how-to-buy__title.text-info__bold Как оформить заказ
            .how-to-buy__block
                .text-info__text Оформить заказ на нашем сайте легко. Просто добавьте выбранные товары в корзину, а затем перейдите на страницу Корзина, проверьте правильность заказанных позиций и нажмите кнопку «Оформить заказ» или «Быстрый заказ».
            .how-to-buy__block
                .text-info__head2.text-info__bold Быстрый заказ
                .text-info__text Функция «Быстрый заказ» позволяет покупателю не проходить всю процедуру оформления заказа самостоятельно. Вы заполняете форму, и через короткое время вам перезвонит менеджер магазина. Он уточнит все условия заказа, ответит на вопросы, касающиеся качества товара, его особенностей. А также подскажет о вариантах оплаты и доставки.
                .text-info__text По результатам звонка, пользователь либо, получив уточнения, самостоятельно оформляет заказ, укомплектовав его необходимыми позициями, либо соглашается на оформление в том виде, в котором есть сейчас. Получает подтверждение на почту или на мобильный телефон и ждёт доставки.
            .how-to-buy__block
                .text-info__head2.text-info__bold Оформление заказа в стандартном режиме
                .text-info__text Если вы уверены в выборе, то можете самостоятельно оформить заказ, заполнив по этапам всю форму.
            .how-to-buy__block.how-to-buy__max-width-1253
                .text-info__head2.text-info__bold Заполнение адреса
                .text-info__text Выберите из списка название вашего региона и населённого пункта. Если вы не нашли свой населённый пункт в списке, выберите значение «Другое местоположение» и впишите название своего населённого пункта в графу «Город». Введите правильный индекс.
            .how-to-buy__block.how-to-buy__max-width-1155
                .text-info__head2.text-info__bold Доставка
                .text-info__text В зависимости от места жительства вам предложат варианты доставки. Выберите любой удобный способ. Подробнее об условиях доставки читайте в разделе «Доставка».
            .how-to-buy__block
                .text-info__head2.text-info__bold Оплата
                .text-info__text Выберите оптимальный способ оплаты. Подробнее о всех вариантах читайте в разделе «Оплата»
            .how-to-buy__block
                .text-info__head2.text-info__bold Покупатель
                .text-info__text Введите данные о себе: ФИО, адрес доставки, номер телефона. В поле «Комментарии к заказу» введите сведения, которые могут пригодиться курьеру, например: подъезды в доме считаются справа налево.
            .how-to-buy__block
                .text-info__head2.text-info__bold Оформление заказа
                .text-info__text Проверьте правильность ввода информации: позиции заказа, выбор местоположения, данные о покупателе. Нажмите кнопку «Оформить заказ».
                .text-info__text Наш сервис запоминает данные о пользователе, информацию о заказе и в следующий раз предложит вам повторить к вводу данные предыдущего заказа. Если условия вам не подходят, выбирайте другие варианты.




