include ../ui/product-card-label

.shopping-cart
    .container
        .shopping-cart__wrapper
            .shopping-cart__list-of-items
                .shopping-cart__item
                    img.shopping-cart__image(src='./assets/img/shopping-cart.jpg')
                    .shopping-cart__info
                        .shopping-cart__pretitle Наименование:
                        .shopping-cart__name Боди без рукавов "ФРУК-ТИК", розовый
                        .shopping-cart__selections
                            .shopping-cart__discount скидка: 20%
                            .shopping-cart__size Размер: 74
                            .shopping-cart__weight Вес: 2.5 кг
                    .shopping-cart__size_small
                        .shopping-cart__pretitle Размер:
                        .shopping-cart__name 84
                    .shopping-cart__size_small
                        .shopping-cart__pretitle Скидка:
                        .shopping-cart__name 20%
                    .shopping-cart__price
                        .shopping-cart__pretitle Цена:
                        .shopping-cart__final 349₽
                        .shopping-cart__before-sale 6 850 ₽
                    .shopping-cart__size_small
                        .shopping-cart__pretitle Вес:
                        .shopping-cart__name 2.5 кг
                    .shopping-cart__quantity
                        .shopping-cart__pretitle Колл-во:
                        .shopping-cart__change-quantity
                            .quantity.shopping-cart__count 1 шт
                    .shopping-cart__result-price
                        .shopping-cart__pretitle Сумма:
                            .shopping-cart__final 2 332₽
                            .shopping-cart__before-sale 3 312₽

                .shopping-cart__item
                    img.shopping-cart__image(src='./assets/img/shopping-cart.jpg')
                    .shopping-cart__info
                        .shopping-cart__pretitle Наименование:
                        .shopping-cart__name Боди без рукавов "ФРУК-ТИК", розовый
                        .shopping-cart__selections
                            .shopping-cart__discount скидка: 20%
                            .shopping-cart__size Размер: 74
                    .shopping-cart__size_small
                        .shopping-cart__pretitle Размер:
                        .shopping-cart__name 84
                    .shopping-cart__size_small
                        .shopping-cart__pretitle Скидка:
                        .shopping-cart__name 20%
                    .shopping-cart__price
                        .shopping-cart__pretitle Цена:
                        .shopping-cart__final 349₽
                        .shopping-cart__before-sale 6 850 ₽
                    .shopping-cart__size_small
                        .shopping-cart__pretitle Вес:
                        .shopping-cart__name 2.5 кг
                    .shopping-cart__quantity
                        .shopping-cart__pretitle Колл-во:
                        .shopping-cart__change-quantity
                            .quantity.shopping-cart__count 1 шт
                    .shopping-cart__result-price
                        .shopping-cart__pretitle Сумма:
                            .shopping-cart__final 2 332₽
                            .shopping-cart__before-sale 3 312₽

                .shopping-cart__item
                    img.shopping-cart__image(src='./assets/img/shopping-cart.jpg')
                    .shopping-cart__info
                        .shopping-cart__pretitle Наименование:
                        .shopping-cart__name Боди без рукавов "ФРУК-ТИК", розовый
                        .shopping-cart__selections
                            .shopping-cart__discount скидка: 20%
                            .shopping-cart__size Размер: 74
                    .shopping-cart__size_small
                        .shopping-cart__pretitle Размер:
                        .shopping-cart__name 84
                    .shopping-cart__size_small
                        .shopping-cart__pretitle Скидка:
                        .shopping-cart__name 20%
                    .shopping-cart__price
                        .shopping-cart__pretitle Цена:
                        .shopping-cart__final 349₽
                        .shopping-cart__before-sale 6 850 ₽
                    .shopping-cart__size_small
                        .shopping-cart__pretitle Вес:
                        .shopping-cart__name 2.5 кг
                    .shopping-cart__quantity
                        .shopping-cart__pretitle Колл-во:
                        .shopping-cart__change-quantity
                            .quantity.shopping-cart__count 1 шт
                    .shopping-cart__result-price
                        .shopping-cart__pretitle Сумма:
                            .shopping-cart__final 2 332₽
                            .shopping-cart__before-sale 3 312₽
            .shopping-cart__purchase.purchase
                img.purchase__share(src='./assets/img/icons/pencil.svg')
                .purchase__title Ваш заказ:
                .purchase__charachteristic
                    | Товаров на:
                    |
                    span.purchase__span_bold 10 800р
                .purchase__discount Без скидки: 13 500
                .purchase__charachteristic
                    | Общий вес:
                    |
                    span.purchase__span_bold 5кг
                .purchase__charachteristic
                    | Доставка:
                    |
                    span.purchase__span_bold Бесплатно
                .purchase__charachteristic
                    | Экономия:
                    |
                    span.purchase__span_bold 2 700р

                .purchase__total-price К оплате:
                    .purchase__total-price-amount 4 664₽
                .purchase__promo-wrapper
                    .purchase__promo Ввести промокод
                    input.purchase__promo-input
                button.button.purchase__buy-button оформить заказ

