.license-info-list
    .container
        .license-info-list__wrapper

            .license-info-list__item
                img.license-info-list__img(src="")
                .license-info-list__info.license-info-list__max-width-1043
                    .text-info__text.text-info__bold Сертификат соответствия
                    .license-info-list__text Сертификат соответствия – документ, подтверждающий соответствие продукции требованиям качества и безопасности, установленными для нее действующими стандартами и правилами (ГОСТ, ГОСТ Р, ГОСТ Р МЭК, ТУ, Технический регламент и пр.).

            .license-info-list__item
                img.license-info-list__img(src="")
                .license-info-list__info.license-info-list__max-width-1043
                    .text-info__text.text-info__bold Свидетельство о государственной регистрации
                    .license-info-list__text Свидетельство о государственной регистрации или письмо о соответствии продукции Единым санитарно-эпидемиологическим и гигиеническим требованиям – документ, подтверждающий, что продукция соответствуют установленным Единым гигиеническим нормам.

            .license-info-list__item
                img.license-info-list__img(src="")
                .license-info-list__info.license-info-list__max-width-981
                    .text-info__text.text-info__bold Сертификат пожарной безопасности
                    .license-info-list__text Сертификат пожарной безопасности (пожарный сертификат) – это документ, подтверждающий, что продукция соответствует требованиям пожарной безопасности.

            .license-info-list__item
                img.license-info-list__img(src="")
                .license-info-list__info.license-info-list__max-width-981
                    .text-info__text.text-info__bold Лицензия на оказание услуг
                    .license-info-list__text Сертификат соответствия Госстроя, выдается на продукцию, используемую в строительстве, и подтверждающий, что продукция соответствует требованиям основных нормативно-технических документов, установленных для данной продукции при сертификации продукции в строительстве.