.news-list
    .container
        .news-list__wrapper
            .news-list__title Новости
            .news-list__container
                a.news-list__item(href="./news-item-page.html")
                    img.news-list__img(src="./assets/img/news-list.jpg")
                    .news-list__date 3 марта 2022
                    .news-list__name Новая коллекция летних конвертов 2022 уже в продаже!

                a.news-list__item(href="./news-item-page.html")
                    img.news-list__img(src="./assets/img/news-list.jpg")
                    .news-list__date 3 марта 2022
                    .news-list__name Новая коллекция летних конвертов 2022 уже в продаже!

                a.news-list__item(href="./news-item-page.html")
                    img.news-list__img(src="./assets/img/news-list.jpg")
                    .news-list__date 3 марта 2022
                    .news-list__name Новая коллекция летних конвертов 2022 уже в продаже!


                a.news-list__item(href="./news-item-page.html")
                    img.news-list__img(src="./assets/img/news-list.jpg")
                    .news-list__date 3 марта 2022
                    .news-list__name Новая коллекция летних конвертов 2022 уже в продаже!


                a.news-list__item(href="./news-item-page.html")
                    img.news-list__img(src="./assets/img/news-list.jpg")
                    .news-list__date 3 марта 2022
                    .news-list__name Новая коллекция летних конвертов 2022 уже в продаже!


                a.news-list__item(href="./news-item-page.html")
                    img.news-list__img(src="./assets/img/news-list.jpg")
                    .news-list__date 3 марта 2022
                    .news-list__name Новая коллекция летних конвертов 2022 уже в продаже!

                a.news-list__item(href="./news-item-page.html")
                    img.news-list__img(src="./assets/img/news-list.jpg")
                    .news-list__date 3 марта 2022
                    .news-list__name Новая коллекция летних конвертов 2022 уже в продаже!

                a.news-list__item(href="./news-item-page.html")
                    img.news-list__img(src="./assets/img/news-list.jpg")
                    .news-list__date 3 марта 2022
                    .news-list__name Новая коллекция летних конвертов 2022 уже в продаже!