.news-item
    .news-item__wrapper
        .news-item__container
            .news-item__title Новая коллекция летних конвертов 2022 уже в продаже!
                .news-item__date 3 марта 2022
                .news-item__title-text Рады сообщить, что в нашем интернет-магазине Lalastore.ru, поступила новая коллекция летних конвертов для деток для деток.
        .news-item__block
            img.news-item__img(src="./assets/img/news-list.jpg")

        .news-item__container
            .news-item__block.news-item__max-width-1274
                .text-info__head2.text-info__bold Самые популярные бренды одежды в нашем магазине:
                .text-info__text В интернет-магазине Lalastore.ru представлено более 100 видов конвертов известных марок. У нас вы точно найдете идеальные детские вещи.

        .news-item__container
            .news-item__block.news-item__max-width-932
                .text-info__head2.text-info__bold Как получить товар?
                .text-info__text При оформлении заказа вы выбираете подходящий способ доставки: почтой России, Сдэк или курьером. Подробнее об условиях получения товара читайте в нашем разделе «Как купить».

        .news-item__container
            .news-item__block.news-item__max-width-1105
                .text-info__head2.text-info__bold Что делать, если не подойдет размер/фасон/цвет?
                .text-info__text Вы в праве отказаться от товаров в течение 7 дней с момента его получения. Для этого необходимо обратиться к менеджерам нашей компании через онлайн-чат или по телефону +7 (916) 361 30 00. Проконсультируем по дальнейшим действиям.

        .news-item__container
            .news-item__block
                .text-info__head2.text-info__bold Покупать у нас — одно удовольствие!
                .text-info__text Мы любим своих клиентов и создаем все условиях для комфортной покупки товаров и приятного получения заказа: одежда полностью соответствует картинке и описанию на сайте. Гарантируем качество и безопасную транспортировку.