section.newsletter 
  .container 
    .newsletter__title.title Подпишитесь на нашу рассылку
    .newsletter__descr Присоединяйтесь к программе LFLF STORE, чтобы получать постоянные скидки и персональные предложения
    button.button.newsletter__button
      .newsletter__button__text оформить подписку
      img.newsletter__button__arrow(src="./assets/img/icons/arrow.svg", alt="arrow")