.personal-account
    .container
        .personal-account__wrapper
            #currentOrdersButton.currentOrdersButton.personal-account__item.personal-account__item_current-orders
                img.personal-account__img(src='./assets/img/personal-account1.webp')
                p.personal-account__name
                                        | Текущие
                                        | заказы
                .personal-account__gradient
            .currentOrdersButton.personal-account__item.personal-account__item_history-orders
                img.personal-account__img(src='./assets/img/personal-account2.webp')
                p.personal-account__name
                                        | История
                                        | заказов
                .personal-account__gradient
            #personalData.personal-account__item
                img.personal-account__img(src='./assets/img/personal-account3.webp')
                p.personal-account__name
                                        | Личные
                                        | данные
                .personal-account__gradient
            #openChangePasswordModal.personal-account__item
                img.personal-account__img(src='./assets/img/personal-account4.webp')
                .personal-account__name
                                        | Сменить
                                        | пароль
                .personal-account__gradient
            #profileOrdersButton.personal-account__item
                img.personal-account__img(src='./assets/img/personal-account5.webp')
                .personal-account__name
                                        | Профиль
                                        | заказов
                .personal-account__gradient

            #openYourSubscriptionsModal.personal-account__item
                img.personal-account__img(src='./assets/img/personal-account6.webp')
                .personal-account__name Подписки
                .personal-account__gradient
