#profileOrdersModal.profile-orders-modal__overflow
    .profile-orders-modal.modal
        button#profileOrdersModalCloseButton.profile-orders-modal__close-btn.close-btn
        .profile-orders-modal__wrapper
            p.profile-orders-modal__title Профили пользователей
            form.profile-orders-modal__form.form
                .form__wrapper
                    .form__header Профиль: 1
                    img.form__button-popup.form__button-popup_open(src='./assets/img/icons/arrow.svg')
                    .form__popup
                        .profile-orders-modal__container

                            .profile-orders-modal__table-row.profile-orders-modal__table-row_header
                                .profile-orders-modal__header-item Код:
                                .profile-orders-modal__header-item Дата обновления:
                                .profile-orders-modal__header-item Название:
                                .profile-orders-modal__header-item Тип плательщика:
                                .profile-orders-modal__header-item.profile-orders-modal__col_last Действия:


                            .profile-orders-modal__table-row
                                .profile-orders-modal__col.profile-orders-modal__col_mobile Профиль: 1

                                .profile-orders-modal__col.profile-orders-modal__col_code
                                    .profile-orders-modal__name Код:
                                    .profile-orders-modal__property 9

                                .profile-orders-modal__col.profile-orders-modal__col_date
                                    .profile-orders-modal__name Дата обновления:
                                    .profile-orders-modal__property 18/03/2022 16:48:15

                                .profile-orders-modal__col.profile-orders-modal__col_name
                                    .profile-orders-modal__name Название:
                                    .profile-orders-modal__property А С И

                                .profile-orders-modal__col.profile-orders-modal__col_type
                                    .profile-orders-modal__name Тип плательщика:
                                    .profile-orders-modal__property Физическое лицо

                                .profile-orders-modal__col.profile-orders-modal__col_last.profile-orders-modal__col_btn
                                    img.profile-orders-modal__delete(src="./assets/img/icons/close-btn-grey.svg")
                                    .profile-orders-modal__button-mobile.profile-orders-modal__delete_mobile Удалить
                                    .profile-orders-modal__property.profile-orders-modal__button-mobile.profileOrdersChangeButton Изменить

                            .profile-orders-modal__table-row
                                .profile-orders-modal__col.profile-orders-modal__col_mobile Профиль: 1

                                .profile-orders-modal__col.profile-orders-modal__col_code
                                    .profile-orders-modal__name Код:
                                    .profile-orders-modal__property 9

                                .profile-orders-modal__col.profile-orders-modal__col_date
                                    .profile-orders-modal__name Дата обновления:
                                    .profile-orders-modal__property 18/03/2022 16:48:15

                                .profile-orders-modal__col.profile-orders-modal__col_name
                                    .profile-orders-modal__name Название:
                                    .profile-orders-modal__property А С И

                                .profile-orders-modal__col.profile-orders-modal__col_type
                                    .profile-orders-modal__name Тип плательщика:
                                    .profile-orders-modal__property Физическое лицо

                                .profile-orders-modal__col.profile-orders-modal__col_last.profile-orders-modal__col_btn
                                    img.profile-orders-modal__delete(src="./assets/img/icons/close-btn-grey.svg")
                                    .profile-orders-modal__button-mobile.profile-orders-modal__delete_mobile Удалить
                                    .profile-orders-modal__property.profile-orders-modal__button-mobile.profileOrdersChangeButton Изменить

                            .profile-orders-modal__table-row
                                .profile-orders-modal__col.profile-orders-modal__col_mobile Профиль: 1

                                .profile-orders-modal__col.profile-orders-modal__col_code
                                    .profile-orders-modal__name Код:
                                    .profile-orders-modal__property 9

                                .profile-orders-modal__col.profile-orders-modal__col_date
                                    .profile-orders-modal__name Дата обновления:
                                    .profile-orders-modal__property 18/03/2022 16:48:15

                                .profile-orders-modal__col.profile-orders-modal__col_name
                                    .profile-orders-modal__name Название:
                                    .profile-orders-modal__property А С И

                                .profile-orders-modal__col.profile-orders-modal__col_type
                                    .profile-orders-modal__name Тип плательщика:
                                    .profile-orders-modal__property Физическое лицо

                                .profile-orders-modal__col.profile-orders-modal__col_last.profile-orders-modal__col_btn
                                    img.profile-orders-modal__delete(src="./assets/img/icons/close-btn-grey.svg")
                                    .profile-orders-modal__button-mobile.profile-orders-modal__delete_mobile Удалить
                                    .profile-orders-modal__property.profile-orders-modal__button-mobile.profileOrdersChangeButton Изменить

                            .profile-orders-modal__table-row
                                .profile-orders-modal__col.profile-orders-modal__col_mobile Профиль: 1

                                .profile-orders-modal__col.profile-orders-modal__col_code
                                    .profile-orders-modal__name Код:
                                    .profile-orders-modal__property 9

                                .profile-orders-modal__col.profile-orders-modal__col_date
                                    .profile-orders-modal__name Дата обновления:
                                    .profile-orders-modal__property 18/03/2022 16:48:15

                                .profile-orders-modal__col.profile-orders-modal__col_name
                                    .profile-orders-modal__name Название:
                                    .profile-orders-modal__property А С И

                                .profile-orders-modal__col.profile-orders-modal__col_type
                                    .profile-orders-modal__name Тип плательщика:
                                    .profile-orders-modal__property Физическое лицо

                                .profile-orders-modal__col.profile-orders-modal__col_last.profile-orders-modal__col_btn
                                    img.profile-orders-modal__delete(src="./assets/img/icons/close-btn-grey.svg")
                                    .profile-orders-modal__button-mobile.profile-orders-modal__delete_mobile Удалить
                                    .profile-orders-modal__property.profile-orders-modal__button-mobile.profileOrdersChangeButton Изменить

                            .profile-orders-modal__table-row
                                .profile-orders-modal__col.profile-orders-modal__col_mobile Профиль: 1

                                .profile-orders-modal__col.profile-orders-modal__col_code
                                    .profile-orders-modal__name Код:
                                    .profile-orders-modal__property 9

                                .profile-orders-modal__col.profile-orders-modal__col_date
                                    .profile-orders-modal__name Дата обновления:
                                    .profile-orders-modal__property 18/03/2022 16:48:15

                                .profile-orders-modal__col.profile-orders-modal__col_name
                                    .profile-orders-modal__name Название:
                                    .profile-orders-modal__property А С И

                                .profile-orders-modal__col.profile-orders-modal__col_type
                                    .profile-orders-modal__name Тип плательщика:
                                    .profile-orders-modal__property Физическое лицо

                                .profile-orders-modal__col.profile-orders-modal__col_last.profile-orders-modal__col_btn
                                    img.profile-orders-modal__delete(src="./assets/img/icons/close-btn-grey.svg")
                                    .profile-orders-modal__button-mobile.profile-orders-modal__delete_mobile Удалить
                                    .profile-orders-modal__property.profile-orders-modal__button-mobile.profileOrdersChangeButton Изменить




script.
    const buttonProfileOrdersModal = document.querySelector('#profileOrdersButton')
    const modalProfileOrdersModal = document.querySelector('#profileOrdersModal')
    const profileOrdersModalCloseButton = document.querySelector('#profileOrdersModalCloseButton')

    buttonProfileOrdersModal.addEventListener('click', () => {
        modalProfileOrdersModal.classList.add('profile-orders-modal__overflow_active')
    })
    profileOrdersModalCloseButton.addEventListener('click', () => {
        modalProfileOrdersModal.classList.remove('profile-orders-modal__overflow_active')
    })

