.question-modal.modal 
  button.question-modal__close-btn.close-btn
  .question-modal__wrapper 
    .question-modal__container.modal__container
      .question-modal__title Задать вопрос
      form.question-modal__form(action="") 
        .input-title Ваше имя
        input#input-name.input.question-modal__input(type="text" placeholder="Иванов Иван Иванович")

        .input-title Телефон
        input#input-phone.input.question-modal__input(type="text" placeholder="Иванов Иван Иванович")

        .input-title E-mail
        input#input-email.input.question-modal__input(type="text" placeholder="Иванов Иван Иванович")

        .input-title Вопрос
        textarea#input-question.textarea.question-modal__textarea(name="question", cols="3", rows="3") 

        button.button.question-modal__button сохранить изменения
