section.recent 
  .container 
    .recent__title.title Ранее вы смотрели
    include ../ui/product-card

    .recent__cards
      .recent__card
        +product-card("./assets/img/recent1.png", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "купить в 1 клик")
      
      .recent__card 
        +product-card("./assets/img/recent2.png", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "купить в 1 клик")
      
      .recent__card 
        +product-card("./assets/img/recent3.png", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "купить в 1 клик")
      
      .recent__card 
        +product-card("./assets/img/recent4.png", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "Нет в наличии", "купить в 1 клик")
      
      .recent__card 
        +product-card("./assets/img/recent5.png", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "На складе", "купить в 1 клик")
      
      .recent__card 
        +product-card("./assets/img/recent3.png", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "купить в 1 клик")  