.references-item
    .container
        include ../ui/product-card
        .references-item__wrapper
            img.references-item__image(src='./assets/img/collection1.webp')
            .references-item__content
                .references-item__title Готовая подборка №124

                .references-item__goods.goods.swiper.mySwiper-goods
                    .goods__title Товары look'а
                    ul#goodsList.goods__list.swiper-wrapper
                        li.goods__item.swiper-slide
                            +product-card("./assets/img/recent3.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "В КОРЗИНУ")

                        li.goods__item.swiper-slide
                            +product-card("./assets/img/recent5.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "В КОРЗИНУ")

                        li.goods__item.swiper-slide
                            +product-card("./assets/img/recent2.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "В КОРЗИНУ")

                        li.goods__item.swiper-slide
                            +product-card("./assets/img/recent1.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "В КОРЗИНУ")

                        li.goods__item.swiper-slide
                            +product-card("./assets/img/recent5.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "В КОРЗИНУ")

                        li.goods__item.swiper-slide
                            +product-card("./assets/img/recent1.webp", 'Боди без рукавов "ФРУК-ТИК", розовый', "349 ₽/шт", "В наличии", "В КОРЗИНУ")

                img#goodsRightArr.goods__next_button.swiper-goods-button-next(src='./assets/img/icons/arrow_circle.svg')
                //img.goods__prev_button.swiper-goods-button-prev(src='./assets/img/icons/arrow_circle.svg')