.references
    .container
        .references__wrapper
            .references__list_left-part
                .references__item.references__item_left-part_1
                    img.references__item__image.references__item__image_animation(src='./assets/img/references1.webp')
                    .references__item__number №124
                .references__item.references__item_left-part_2
                    img.references__item__image.references__item__image_full(src='./assets/img/references2.webp')
                    .references__item__number №124
                .references__item.references__item_left-part_3
                    img.references__item__image.references__item__image_animation(src='./assets/img/references3.webp')
                    .references__item__number №124
                .references__item.references__item_left-part_4
                    img.references__item__image.references__item__image_animation(src='./assets/img/references4.webp')
                    .references__item__number №124
                .references__item.references__item_left-part_5
                    img.references__item__image.references__item__image_full(src='./assets/img/references5.webp')
                    .references__item__number №124
                .references__item.references__item_left-part_6
                    img.references__item__image.references__item__image_full(src='./assets/img/references6.webp')
                    .references__item__number №124
                .references__item.references__item_left-part_7
                    img.references__item__image.references__item__image_animation(src='./assets/img/references1.webp')
                    .references__item__number №124
                .references__item.references__item_left-part_8
                    img.references__item__image.references__item__image_full(src='./assets/img/references2.webp')
                    .references__item__number №124
                .references__item.references__item_left-part_9
                    img.references__item__image.references__item__image_animation(src='./assets/img/references3.webp')
                    .references__item__number №124
                .references__item.references__item_left-part_10
                    img.references__item__image.references__item__image_animation(src='./assets/img/references4.webp')
                    .references__item__number №124
            .references__list_right-part
                .references__item.references__item_right-part_11
                    img.references__item__image.references__item__image_animation(src='./assets/img/references11.webp')
                    .references__item__number №124
                .references__item.references__item_right-part_12
                    img.references__item__image.references__item__image_animation(src='./assets/img/references12.webp')
                    .references__item__number №124
                .references__item.references__item_right-part_13
                    img.references__item__image.references__item__image_animation(src='./assets/img/references13.webp')
                    .references__item__number №124
                .references__item.references__item_right-part_14
                    img.references__item__image.references__item__image_full(src='./assets/img/references14.webp')
                    .references__item__number №124
                .references__item.references__item_right-part_15
                    img.references__item__image.references__item__image_animation(src='./assets/img/references11.webp')
                    .references__item__number №124
                .references__item.references__item_right-part_16
                    img.references__item__image.references__item__image_animation(src='./assets/img/references12.webp')
                    .references__item__number №124
