.references
    .container
        .references__wrapper
            .references__list_left-part
                .references__item.references__item_left-part_1
                    img.references__item__image.references__item__image_animation(src='./assets/img/collection1.webp')
                    .references__item__number №1
                .references__item.references__item_left-part_2
                    img.references__item__image.references__item__image_full(src='./assets/img/collection1.webp')
                    .references__item__number №2
                .references__item.references__item_left-part_3
                    img.references__item__image.references__item__image_animation(src='./assets/img/collection1.webp')
                    .references__item__number №3
                .references__item.references__item_left-part_4
                    img.references__item__image.references__item__image_animation(src='./assets/img/collection1.webp')
                    .references__item__number №4
                .references__item.references__item_left-part_5
                    img.references__item__image.references__item__image_full(src='./assets/img/collection1.webp')
                    .references__item__number №5
                .references__item.references__item_left-part_6
                    img.references__item__image.references__item__image_full(src='./assets/img/collection1.webp')
                    .references__item__number №6
                .references__item.references__item_left-part_7
                    img.references__item__image.references__item__image_animation(src='./assets/img/collection1.webp')
                    .references__item__number №7
                .references__item.references__item_left-part_8
                    img.references__item__image.references__item__image_full(src='./assets/img/collection1.webp')
                    .references__item__number №8
                .references__item.references__item_left-part_9
                    img.references__item__image.references__item__image_animation(src='./assets/img/collection1.webp')
                    .references__item__number №9
                .references__item.references__item_left-part_10
                    img.references__item__image.references__item__image_animation(src='./assets/img/collection1.webp')
                    .references__item__number №10
            .references__list_right-part
                .references__item.references__item_right-part_11
                    img.references__item__image.references__item__image_animation(src='./assets/img/collection1.webp')
                    .references__item__number №11
                .references__item.references__item_right-part_12
                    img.references__item__image.references__item__image_animation(src='./assets/img/collection1.webp')
                    .references__item__number №12
                .references__item.references__item_right-part_13
                    img.references__item__image.references__item__image_animation(src='./assets/img/collection1.webp')
                    .references__item__number №13
                .references__item.references__item_right-part_14
                    img.references__item__image.references__item__image_full(src='./assets/img/collection1.webp')
                    .references__item__number №14
                .references__item.references__item_right-part_15
                    img.references__item__image.references__item__image_animation(src='./assets/img/collection1.webp')
                    .references__item__number №15
                .references__item.references__item_right-part_16
                    img.references__item__image.references__item__image_animation(src='./assets/img/collection1.webp')
                    .references__item__number №16
