#registrationModal.registration-modal__overflow
    .registration-modal.modal
        button#registrationModalCloseButton.registration-modal__close-btn.close-btn
        .registration-modal__wrapper
            p.registration-modal__title Регистрация
            p.registration-modal__comment Зарегистрируйтесь, чтобы использовать все возможности личного кабинета: отслеживание заказов, настройку подписки, связи с социальными сетями и другие. Мы никогда и ни при каких условиях не разглашаем личные данные клиентов. Контактная информация будет использована только для оформления заказов и более удобной работы с сайтом.
            form.registration-modal__form.form
                .form__wrapper.registration-modal__form-wrapper
                    .form__popup.registration-modal__form-popup-container
                        .form__item.registration-modal__form-item.registration-modal__form-item_FIO
                            label.form__input-label(for='fullName') Ф.И.О. *
                            input.form__input-text.registration-modal__input-text(name='fullName', id='fullName', value='', placeholder='Иванов Иван Иванович')
                        .form__item.registration-modal__form-item_email
                            label.form__input-label(for='email') E-Mail *
                            input.form__input-text.registration-modal__input-text(name='email', id='email', value='', placeholder='ivanov@gmail.com')
                        .form__item.registration-modal__form-item_phoneNumber
                            label.form__input-label(for='phone') Телефон *
                            input.form__input-text.registration-modal__input-text(name='phone', id='phone', value='', placeholder='******', type='password')
                        .form__item.registration-modal__form-item_password
                            label.form__input-label(for='password') Пароль *
                            input.form__input-text.registration-modal__input-text(name='password', id='password', value='', placeholder='******', type='password')
                        .form__item.registration-modal__form-item_passwordCheck
                            label.form__input-label(for='passwordCheck') Подтверждение пароля *
                            input.form__input-text.registration-modal__input-text(name='passwordCheck', id='passwordCheck', value='', placeholder='+7 (xxx) xxx-xx-xx')
                        .form__item.registration-modal__form-item_code
                            label.form__input-label(for='Введите код') Введите код *
                            input.form__input-text.registration-modal__input-text(name='Введите код', id='Введите код', value='', placeholder='XXXXXX')
                        .registration-modal__captcha.registration-modal__form-item_captcha
                        button.button.form__buy-button.registration-modal__form-item_registrationButton зарегистрироваться
                        .form__item
                            p#haveAnAccount.registration-modal__haveAnAccoutn Есть аккаунт?
                        .form__item.form__item_radio.registration-modal__form-item_offerCheck
                            input.form__check-personal(type="checkbox", name='personalData', id='personalData')
                            label.form__input-label.form__input-label_small(for='personalData') Я согласен на обработку персональных данных

