.return-conditions
    .container
        .return-conditions__wrapper
            .return-conditions__title.text-info__bold Условия оплаты и возврата
            .return-conditions__block
                .text-info__text.text-info__bold Оплата наличными
                .text-info__text При выборе варианта оплаты наличными, вы дожидаетесь приезда курьера и передаёте ему сумму за товар в рублях. Курьер предоставляет товар, который можно осмотреть на предмет повреждений, соответствие указанным условиям. Покупатель подписывает товаросопроводительные документы, вносит денежные средства и получает чек.
                .text-info__text.text-info__gray Также оплата наличными доступна при самовывозе из магазина, оплаты по почте или использовании постамата.
            .return-conditions__block
                .text-info__head2.text-info__bold Оплата банковскими картами осуществляется через АО «АЛЬФА-БАНК».
                .text-info__text К оплате принимаются карты VISA, MasterCard, МИР.
                .text-info__text Услуга оплаты через интернет осуществляется в соответствии с Правилами международных платежных систем Visa, MasterCard и Платежной системы МИР на принципах соблюдения конфиденциальности и безопасности совершения платежа, для чего используются самые современные методы проверки, шифрования и передачи данных по закрытым каналам связи. Ввод данных банковской карты осуществляется на защищенной платежной странице АО «АЛЬФА-БАНК».
                    | На странице для ввода данных банковской карты потребуется ввести данные банковской карты: номер карты, имя владельца карты, срок действия карты, трёхзначный код безопасности (CVV2 для VISA, CVC2 для MasterCard, Код Дополнительной Идентификации для МИР). Все необходимые данные пропечатаны на самой карте. Трёхзначный код безопасности — это три цифры, находящиеся на обратной стороне картыДалее вы будете перенаправлены на страницу Вашего банка для ввода кода безопасности, который придет к Вам в СМС. Если код безопасности к Вам не пришел, то следует обратиться в банк выдавший Вам карту.
            .return-conditions__block
                .text-info__head2.text-info__bold Случаи отказа в совершении платежа:
                ul.text-info__unordered-list.text-info__gray
                    li Банковская карта не предназначена для совершения платежей через интернет, о чем можно узнать, обратившись в Ваш Банк;
                    li Недостаточно средств для оплаты на банковской карте. Подробнее о наличии средств на банковской карте Вы можете узнать, обратившись в банк, выпустивший банковскую карту;
                    li Данные банковской карты введены неверно;
                    li Истек срок действия банковской карты. Срок действия карты, как правило, указан на лицевой стороне карты (это месяц и год, до которого действительна карта). Подробнее о сроке действия карты Вы можете узнать, обратившись в банк, выпустивший банковскую карту;
                .text-info__text.return-conditions_max-width-1334 По вопросам оплаты с помощью банковской карты и иным вопросам, связанным с работой сайта, Вы можете обращаться по следующим
                    | телефонам: +7 916 361-30-00.
                    | Предоставляемая вами персональная информация (имя, адрес, телефон, e-mail, номер банковской карты) является конфиденциальной и не подлежит разглашению. Данные вашей кредитной карты передаются только в зашифрованном виде и не сохраняются на нашем Web-сервере.
            .return-conditions__block.return-conditions_max-width-1334
                .text-info__head2.text-info__bold Правила возврата товара
                .text-info__text При оплате картами возврат наличными денежными средствами не допускается. Порядок возврата регулируется правилами международных платежных систем.
                .text-info__text Процедура возврата товара регламентируется статьей 26.1 федерального закона «О защите прав потребителей».
                            | Потребитель вправе отказаться от товара в любое время до его передачи, а после передачи товара - в течение семи дней;
                .text-info__text Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара;
                .text-info__text Потребитель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, если указанный товар может быть использован исключительно приобретающим его человеком;
                .text-info__text При отказе потребителя от товара продавец должен возвратить ему денежную сумму, уплаченную потребителем по договору, за исключением расходов продавца на доставку от потребителя возвращенного товара, не позднее чем через десять дней со дня предъявления потребителем соответствующего требования;
                .text-info__text Для возврата денежных средств на банковскую карту необходимо заполнить «Заявление о возврате денежных средств», которое высылается по требованию компанией на электронный адрес и оправить его вместе с приложением копии паспорта по адресу lalastore.ru@yandex.ru
                .text-info__text Возврат денежных средств будет осуществлен на банковскую карту в течение 21 (двадцати одного) рабочего дня со дня получения «Заявление о возврате денежных средств» Компанией.
                .text-info__text Для возврата денежных средств по операциям проведенными с ошибками необходимо обратиться с письменным заявлением и приложением копии паспорта и чеков/квитанций, подтверждающих ошибочное списание. Данное заявление необходимо направить по адресу lalastore.ru@yandex.ru
                .text-info__text Сумма возврата будет равняться сумме покупки. Срок рассмотрения Заявления и возврата денежных средств начинает исчисляться с момента получения Компанией Заявления и рассчитывается в рабочих днях без учета праздников/выходных дней.
            .return-conditions__block
                .text-info__head2.text-info__bold Правила доставки товара
                .text-info__text Наличие на электронной витрине Интернет-магазина информации по доставке товара (получении работы, услуги), такой, как сроки, способы, а также любой другой информации, необходимой для получения ясного представления о доставке товара (получении работы, услуги) после оплаты с использованием карты.
            .return-conditions__block
                .text-info__head2.text-info__bold Контактная информация
                .text-info__table
                    .text-info__item
                        .text-info__name
                            .text-info__text Название компании:
                            .text-info__dots
                        .text-info__stat ООО "СБВ ГРУПП"

                    .text-info__item
                        .text-info__name
                            .text-info__text ИНН / КПП:
                            .text-info__dots
                        .text-info__stat 7713795458 / 771701001

                    .text-info__item
                        .text-info__name
                            .text-info__text ОГРН:
                            .text-info__dots
                        .text-info__stat 5147746119220

                    .text-info__item
                        .text-info__name
                            .text-info__text Фактический адрес:
                            .text-info__dots
                        .text-info__stat г. Москва, Электролитный проезд, д. 3Б, строение 6

                    .text-info__item
                        .text-info__name
                            .text-info__text Телефон:
                            .text-info__dots
                        .text-info__stat +7 916 361-30-00

                    .text-info__item
                        .text-info__name
                            .text-info__text e-mail:
                            .text-info__dots
                        .text-info__stat lalastore.ru@yandex.ru
            .return-conditions__block.return-conditions_max-width-1283
                .text-info__head2.text-info__bold Возврат
                .text-info__text.text-info__bold КУРЬЕРСКАЯ ДОСТАВКА ПО МОСКВЕ:
                .text-info__text При получении заказа вам необходимо проверить изделия на наличие брака, соответствие размера, модели и цвета заказанных и доставленных вам товаров (в течении 10 минут). В случае, если вы обнаружили брак – вам необходимо сразу же вернуть изделия курьеру. Стоимость доставки с вас не взимается. Если вы обнаружили недочеты в качестве изделий, а курьер от вас уже уехал, в таком случае возврат изделий будет осуществляться в шоу-руме в рабочие часы в течении 14 календарных дней.
                        | Если вам не понравился цвет, модель, не подошел размер или вы передумали – в таком случае стоимость доставки и возврата составит 500 руб.
                .text-info__text.text-info__bold ДОСТАВКА ПО РОССИИ:
                .text-info__text Возврат изделий, полученных в любом городе России, Продавец принимает через СДЭК (до двери) по нашему адресу шоу-рума. Ф.И.О. получателя вы можете уточнить по телефону 8-916-361-30-00. Перед отправлением посылки необходимо связаться с нами по вышеуказанному номеру. В случае возврата по браку – Продавец берет все затраты на себя. В случае, если Покупателю не подошел размер, цвет, модель и тд – расходы по возврату возлагаются на Покупателя.
                .text-info__text.text-info__bold СРОК ВОЗВРАТА:
                .text-info__text.return-conditions_max-width-941 Покупателю необходимо осуществить возврат заказа в шоу-рум сроком не позднее 14 календарных дней со дня отправления вашего заказа Продавцом.

