.reviews
    .container
        .reviews__wrapper


            //.reviews__empty-container
                .reviews__title Отзывы
                .reviews__text Нет отзывов
                button.button.reviews__button-feedback оставить отзыв

            .reviews__list.reviews__max-width-1011
                .reviews__title Отзывы
                .reviews__item
                    .reviews__profile
                        p.reviews__name Иван Иванов
                        .reviews__date 12.02.2022
                    p.reviews__text Товар хороший, все понравилось, рекомендую!

                .reviews__item
                    .reviews__profile
                        p.reviews__name Сергей Петров
                        .reviews__date 11.12.2022
                    p.reviews__text Равным образом, постоянное информационно-пропагандистское обеспечение нашей деятельности способствует повышению качества направлений прогрессивного развития. Также как граница обучения кадров в значительной степени обусловливает важность модели развития.

                .reviews__item
                    .reviews__profile
                        p.reviews__name Иван Иванов
                        .reviews__date 12.02.2022
                    p.reviews__text Товар хороший, все понравилось, рекомендую!

                .reviews__item
                    .reviews__profile
                        p.reviews__name Сергей Петров
                        .reviews__date 11.12.2022
                    p.reviews__text Равным образом, постоянное информационно-пропагандистское обеспечение нашей деятельности способствует повышению качества направлений прогрессивного развития. Также как граница обучения кадров в значительной степени обусловливает важность модели развития.

                textarea.reviews__input-text


                button#createReviewButton.button.reviews__create-review-button Отправить