section.subscribe
  .container 
    h2.subscribe__title.title Подписаться на рассылку

    .subscribe__input-wrapper
      .input-title.subscribe__input-title Почта
      .subscribe__input-area
        input.input.subscribe__input(type="text", placeholder="e-mail.com")
        button.button.subscribe__button подписаться