#yourSubscriptionsModal.your-subscriptions-modal__overflow
    .your-subscriptions-modal.modal
        button#yourSubscriptionsModalCloseButton.your-subscriptions-modal__close-btn.close-btn
        .your-subscriptions-modal__wrapper
            p.your-subscriptions-modal__title Ваши подписки
            p.your-subscriptions-modal__comment Адрес подписки будет принадлежать пользователю:
            form.your-subscriptions-modal__form.form
                .form__wrapper.your-subscriptions-modal__form-wrapper
                    .form__popup.your-subscriptions-modal__form-popup-container
                        .form__item.your-subscriptions-modal__form-item.your-subscriptions-modal__form-item_FIO
                            label.form__input-label(for='fullName') Ваше имя
                            input.form__input-text.your-subscriptions-modal__input-text(name='fullName', id='fullName', value='', placeholder='Иванов Иван Иванович')
                        .form__item.your-subscriptions-modal__form-item_email
                            label.form__input-label(for='email') Почта
                            input.form__input-text.your-subscriptions-modal__input-text(name='email', id='email', value='', placeholder='ivanov@gmail.com')
                        .form__item.your-subscriptions-modal__form-item После добавления или изменения адреса подписки вам будет выслан код подтверждения. Подписка будет не активной до ввода кода подтверждения.
                        .form__item.your-subscriptions-modal__form-item_email
                            .form__input-label Предпочтительный формат
                            .your-subscriptions-modal__checkbox-item
                                input.form__check-personal(type="checkbox", name='preferedFormatText', id='preferedFormatText')
                                label.form__input-label.form__input-label_small(for='preferedFormatText') Текст
                            .your-subscriptions-modal__checkbox-item
                                input.form__check-personal(type="checkbox", name='preferedFormatHTML', id='preferedFormatHTML')
                                label.form__input-label.form__input-label_small(for='preferedFormatHTML') HTML
                        .form__item.your-subscriptions-modal__form-item_email
                            .form__input-label Рубрики подписки*
                            .your-subscriptions-modal__checkbox-item
                                input.form__check-personal(type="checkbox", name='rubricNews', id='rubricNews')
                                label.form__input-label.form__input-label_small(for='rubricNews') Новости магазина


                        button.button.form__buy-button.your-subscriptions-modal__form-item_registrationButton подписаться
                        .form__item
                            p.your-subscriptions-modal__haveAnAccoutn Сменить пользователя
                        .form__item.form__item_radio.your-subscriptions-modal__form-item_offerCheck
                            input.form__check-personal(type="checkbox", name='personalData', id='personalData')
                            label.form__input-label.form__input-label_small(for='personalData') Я согласен на обработку персональных данных



script.
    const buttonYourSubscriptionsModalOpen = document.querySelector('#openYourSubscriptionsModal')
    const YourSubscriptionsModal = document.querySelector('#yourSubscriptionsModal')
    const YourSubscriptionsModalCloseButton = document.querySelector('#yourSubscriptionsModalCloseButton')

    buttonYourSubscriptionsModalOpen.addEventListener('click', () => {
        YourSubscriptionsModal.classList.add('your-subscriptions-modal__overflow_active')
    })
    YourSubscriptionsModalCloseButton.addEventListener('click', () => {
        YourSubscriptionsModal.classList.remove('your-subscriptions-modal__overflow_active')
    })

