doctype html
html(lang="en")
  head
    title="LalaStore | Catalog"
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./css/catalog.css")
  body
    include sections/header
    include sections/catalog-menu
    include sections/subheader
    .container
      .catalog__title-wrapper
        .title.catalog__title Боди
        .catalog__count 92
    include sections/breadcrumbs
    +breadcrumbs("Главная - Каталог - Одежда - Боди")
    .container.catalog-page-main-wrapper
      include sections/catalog-filter
      include sections/catalog-goods

    include sections/footer
    include sections/bottom-menu
    include sections/layout

    script(src="./js/search-logic.js")
    script(src="./js/catalog-logic.js")
    script(src="./js/catalog-item-menu-logic.js")
    script(src="./js/modals-logic.js")
    script(src="./js/sidebar-logic.js")
    script(src="./js/button-effect.js")
    script(src="./js/range-slider.js")
    script(src="./js/catalog-filter.js")
    script(src="./js/catalog-view-filter.js")