doctype html
html(lang="en")
  head
    title="LalaStore | Delivery"
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./css/delivery.css")
  body
    include sections/header
    include sections/catalog-menu
    include sections/subheader
    h1.title.delivery__title Доставка
    include sections/breadcrumbs
    +breadcrumbs("Главная - Доставка")
    include sections/delivery-methods
    include sections/recent
    include sections/footer
    include sections/bottom-menu
    include sections/layout

    script(src="./js/search-logic.js")
    script(src="./js/catalog-logic.js")
    script(src="./js/sidebar-logic.js")
    script(src="./js/button-effect.js")