

doctype html
html(lang="en")
  head
    title="LalaStore"
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
    link(rel="stylesheet" href="./css/mainPage.css")
  body
    include sections/header
    include sections/catalog-menu
    include sections/subheader
    include sections/advertising
    include sections/catalog
    include sections/address
    include sections/newsletter
    //- include sections/about
    //- include sections/recent
    //- include sections/subscribe
    //- include sections/footer
    //- include sections/layout

    script(src="./js/search-logic.js")
    script(src="./js/catalog-logic.js")
    script(src="./js/catalog-item-menu-logic.js")
    //- script(src="./js/modals-logic.js")
    script(src="./js/sidebar-logic.js")
    script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
    script.
      var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
      },
      pagination: {
      el: ".swiper-pagination",
      },
      mousewheel: true,
      keyboard: true,
      });