

doctype html
html(lang="en")
  head
    title="LalaStore"
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./css/mainPage.css")
  body
    include sections/header
    include sections/subheader
    include sections/advertising

    script(src="./js/search-logic.js")