doctype html
html(lang="en")
    head
        title="LalaStore"
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
        link(rel="stylesheet" href="./css/referencesItemPage.css")
    body
        include sections/header
        include sections/catalog-menu
        include sections/subheader
        .container
            .catalog__title-wrapper
                .title.catalog__title Боди
                .title.catalog__count 92
        include sections/breadcrumbs
        include sections/references-item-page
        include sections/recent
        include sections/footer
        include sections/bottom-menu
        include sections/layout
        include sections/authorization-modal
        include sections/registration-modal

        script(src="./js/search-logic.js")
        script(src="./js/catalog-logic.js")
        script(src="./js/catalog-item-menu-logic.js")
        script(src="./js/sidebar-logic.js")
        script(src="./js/authorization-modal.js")
        script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
        script.
            let init = false;

            let mobile = window.matchMedia('(min-width: 0px) and (max-width: 576px)');
            let desktop = window.matchMedia('(min-width: 577px)');

            if (desktop.matches) {
                if (!init) {
                    init = true
                    let swiper = new Swiper(".mySwiper-goods", {
                        slidesPerView: 'auto',
                        navigation: {
                            nextEl: ".swiper-goods-button-next",
                            prevEl: ".swiper-goods-button-prev",
                        },
                        pagination: {
                            el: ".swiper-pagination",
                        },
                        mousewheel: true,
                        keyboard: true,
                    });
                }
            }

            else if (mobile.matches) {
                swiper.destroy()
            }

