doctype html
html(lang="en")
    head
        title="LalaStore"
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="./css/shoppingCartPage.css")
    body
        include sections/header
        include sections/catalog-menu
        include sections/subheader
        .container
            .catalog__title-wrapper
                .title.catalog__title Корзина
        include sections/breadcrumbs
        +breadcrumbs("Главная - Корзина")
        include sections/shopping-cart
        include sections/recent
        include sections/footer
        include sections/bottom-menu
        include sections/layout
        include sections/make-order-modal

        script(src="./js/search-logic.js")
        script(src="./js/catalog-logic.js")
        script(src="./js/catalog-item-menu-logic.js")
        script(src="./js/modals-logic.js")
        script(src="./js/sidebar-logic.js")
        script.
            let shoppingCartItems = document.querySelectorAll('.shopping-cart__item')
            shoppingCartItems.forEach((item) => {
                const counter = item.querySelector('.quantity')
                const dec = item.querySelector('.decQuantity')
                const inc = item.querySelector('.incQuantity')

                let quantity = parseInt(counter.textContent);
                dec.addEventListener('click', () => {
                    if (quantity > 1) {
                        quantity--;
                        counter.textContent = quantity.toString();
                    }
                })
                inc.addEventListener('click', () => {
                    quantity++;
                    counter.textContent = quantity.toString();
                })
            })
