.input {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  padding: 11px;
  color: $text-color;
  font-weight: 400;
  font-size: 14px;
  background: #f4f4f4;
  border-radius: 5px;

  &::placeholder {
    color: #818492;
  }
}

.input-title {
  color: #818492;
  font-weight: 400;
  font-size: 14px;
}

.textarea {
  width: 100%;
  height: 400px;
  margin-top: 10px;
  padding: 11px;
  color: $text-color;
  font-weight: 400;
  font-size: 14px;
  background: #f4f4f4;
  border-radius: 5px;

  &::placeholder {
    color: #818492;
  }
}
