.product-card {
  width: 230px;
  position: relative;

  &__img-wrapper {
    position: relative;
  }

  &__label {
    position: absolute;
    top: 6px;
    left: -6px;
  }

  &__img {
    width: 100%;
    height: 242px;
    border-radius: 5px;
  }

  &__title {
    margin-top: 12px;
    color: $text-color;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
  }

  &__price {
    margin-top: 15px;
    color: $text-color;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
  }

  &__button {
    margin-top: 21px;
    width: 100%;
    font-size: 12px;
  }
}

@media (max-width: 1540px) {
  .product-card {
    width: 171px;

    &__img {
      height: 178px;
    }

    &__label {
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media (max-width: 576px) {
  .product-card {
    &__button {
      margin: 0 auto;
      margin-top: 15px;
      width: 140px;
      font-size: 10px;
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}
