.product-card-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 27px;
  padding: 0 14px;
  color: $text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  background-color: #cff75e;
  border-radius: 9999px;

  &_aviable {
    background-color: #cff75e;
  }

  &_not-aviable {
    background-color: #f75e5e;
  }

  &_in-stock {
    background-color: #5eaef7;
  }
}

@media (width <= 1540px) {
  .product-card-label {
    font-size: 12px;
    line-height: 12px;

    &_aviable {
      width: 95px;
    }

    &_not-aviable {
      width: 120px;
    }

    &_in-stock {
      width: 92px;
    }
  }
}
